AutomatedV01
[{"id":"e4339ded.6c6cd","type":"tab","label":"WorkingCopy","disabled":true,"info":""},{"id":"d8728a9c.d06688","type":"tab","label":"AutoMode","disabled":false,"info":""},{"id":"83cecb6.9175138","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#420084","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#420084","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6800d0","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#420084","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}}},"site":{"name":"ROANV Main Page","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":12,"gy":12,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"604e6e83.2c6d5","type":"ui_tab","z":"","name":"Maintenance","icon":"dashboard","order":3},{"id":"66859124.60626","type":"modbus-client","z":"","name":"Wago750-352","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"f1b5674b.bd2d78","type":"ui_group","z":"","name":"Inputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"a0c8ae9c.9b1fb","type":"ui_group","z":"","name":"Outputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"da1bbeb5.79656","type":"ui_group","z":"","name":"System Status","tab":"3da218f9.67d898","order":1,"disp":true,"width":"6"},{"id":"478c96d0.6d8eb8","type":"ui_link","z":"","name":"By: Miguel Lopez","link":"http://www.miguelruben.com","icon":"open_in_browser","target":"newtab","order":5},{"id":"3da218f9.67d898","type":"ui_tab","z":"","name":"Auto Mode","icon":"dashboard","order":1},{"id":"a11d9528.a79978","type":"ui_group","z":"","name":"Setup","tab":"3da218f9.67d898","order":3,"disp":true,"width":"6"},{"id":"30e12ee8.1044d2","type":"ui_group","z":"","name":"Controls","tab":"3da218f9.67d898","order":2,"disp":true,"width":"6"},{"id":"459f0ee5.70d66","type":"modbus-client","z":"","name":"Modbus Flex Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"15502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"b63cb301.a1fb2","type":"modbus-client","z":"","name":"Modbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"15502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"89bde92d.ab6488","type":"function","z":"e4339ded.6c6cd","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":380,"y":720,"wires":[["fca5a905.1b12d8"],["fd615d55.09d4d"],["24dad54e.6f233a"],["23034985.5d7b36"],["adbd7e6a.ba7a5"],["9dcf9deb.62e29"],["381adef8.6ebc92"],["31df37e3.bf1cd8"]]},{"id":"1ad3bad.afb5245","type":"Analog Input","z":"e4339ded.6c6cd","name":"Pressure Transducer","sensorType":"4-20mA","resolution":"15_Bit_signed","selectedProcess":"Scaled","low":"0","high":"1000","precision":"3","x":400,"y":280,"wires":[["68b31476.1c46cc","9f5395a9.e2d7a8","f06c0a41.a533f8"]]},{"id":"fca5a905.1b12d8","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_00_close","label":"CLOSE","group":"f1b5674b.bd2d78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":520,"wires":[["8deb41ed.2f095"]]},{"id":"24dad54e.6f233a","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_02_manual","label":"MANUAL","group":"f1b5674b.bd2d78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":640,"wires":[["566df72c.390698"]]},{"id":"fd615d55.09d4d","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_01_open","label":"OPEN","group":"f1b5674b.bd2d78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":580,"wires":[["c89d4d9e.ae714"]]},{"id":"23034985.5d7b36","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_03_auto","label":"AUTO","group":"f1b5674b.bd2d78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":700,"wires":[["9623430a.a5d24"]]},{"id":"adbd7e6a.ba7a5","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_04","label":"DI_04_lbl","group":"f1b5674b.bd2d78","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":760,"wires":[[]]},{"id":"381adef8.6ebc92","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_06_Ready","label":"Ready","group":"da1bbeb5.79656","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":880,"wires":[["c05367b.edcf798"]]},{"id":"9dcf9deb.62e29","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_05_HomePosition","label":"In Home Position","group":"f1b5674b.bd2d78","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":820,"wires":[[]]},{"id":"31df37e3.bf1cd8","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_07_Alarm","label":"Alarm","group":"da1bbeb5.79656","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":940,"wires":[["7d496f5e.7d38"]]},{"id":"af917dd2.fcfa2","type":"comment","z":"e4339ded.6c6cd","name":"Analog Input","info":"","x":90,"y":220,"wires":[]},{"id":"32d5ef64.291d5","type":"comment","z":"e4339ded.6c6cd","name":"Digital Inputs","info":"","x":90,"y":560,"wires":[]},{"id":"7f3995ff.c14bcc","type":"comment","z":"e4339ded.6c6cd","name":"Valve Operation","info":"","x":120,"y":1280,"wires":[]},{"id":"b1eca7ed.f18318","type":"modbus-read","z":"e4339ded.6c6cd","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":620,"wires":[["89bde92d.ab6488"],[]]},{"id":"837d7fa.d05d28","type":"modbus-read","z":"e4339ded.6c6cd","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":130,"y":280,"wires":[["1ad3bad.afb5245"],[]]},{"id":"c05367b.edcf798","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"66859124.60626","x":1240,"y":880,"wires":[[],[]]},{"id":"599dc3af.2f9fcc","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"66859124.60626","x":1240,"y":940,"wires":[[],[]]},{"id":"211cc5d7.eefc5a","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":810,"y":1420,"wires":[["4626382.1b59cc8"],[]]},{"id":"4626382.1b59cc8","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1050,"y":1420,"wires":[["eedd4dd7.5379c"],[]]},{"id":"eedd4dd7.5379c","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1300,"y":1420,"wires":[[],[]]},{"id":"a9d13e83.cb1f2","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1320,"y":1360,"wires":[[],[]]},{"id":"5b125d48.ac13f4","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"66859124.60626","x":1220,"y":520,"wires":[[],[]]},{"id":"68b31476.1c46cc","type":"ui_gauge","z":"e4339ded.6c6cd","name":"SYSTEM PRESSURE","group":"f1b5674b.bd2d78","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":320,"wires":[]},{"id":"7d496f5e.7d38","type":"function","z":"e4339ded.6c6cd","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":940,"wires":[["599dc3af.2f9fcc"]]},{"id":"f987ea47.996388","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"MANUAL START","order":7,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    MAN STRT\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":1360,"wires":[["223e656c.4f054a"]]},{"id":"81321e15.77823","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"RESET ALARM","order":9,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":1420,"wires":[["211cc5d7.eefc5a","23a0db1a.4f3074"]]},{"id":"8deb41ed.2f095","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"Close Valve","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":520,"wires":[["5b125d48.ac13f4"]]},{"id":"c89d4d9e.ae714","type":"link out","z":"e4339ded.6c6cd","name":"ValveOperation","links":["34e7ca7e.e80376"],"x":855,"y":580,"wires":[]},{"id":"34e7ca7e.e80376","type":"link in","z":"e4339ded.6c6cd","name":"Valve","links":["c89d4d9e.ae714"],"x":115,"y":1320,"wires":[["71425604.17be38"]]},{"id":"71425604.17be38","type":"function","z":"e4339ded.6c6cd","name":"Valve Control","func":"var Auto = flow.get ('isAuto');\nvar Manual = flow.get('isManual');\n\nif (Auto===true && msg.payload===true){\n    msg.payload='Auto';\n    return [msg,null,null];\n} else if (Manual===true && msg.payload===true){\n    msg.payload=true;\n    return [null,msg,null];\n} else if (Auto===false && Manual===false && msg.payload===true){\n    msg.payload=false;\n    return [null,null,msg];\n} else {\n    return [null,null,null];\n}","outputs":"3","noerr":0,"x":290,"y":1360,"wires":[["4388afb.e44e55","4b72c672.62ffe8"],["21948ff6.c2693"],["81321e15.77823"]],"outputLabels":["Auto","Manual","Reset Alarm"]},{"id":"fbb6513c.0977f","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"66859124.60626","x":1330,"y":1480,"wires":[[],[]]},{"id":"6f1d78fd.a42038","type":"comment","z":"e4339ded.6c6cd","name":"Valve Operation","info":"","x":960,"y":580,"wires":[]},{"id":"bd3a0038.c4abb","type":"comment","z":"e4339ded.6c6cd","name":"Auto Operation","info":"","x":300,"y":1160,"wires":[]},{"id":"9f5395a9.e2d7a8","type":"function","z":"e4339ded.6c6cd","name":"Valve Control Logic","func":"// get assign global variables\nvar actualPressure = Number(msg.payload);\nglobal.set('currentPresure', actualPressure);\nvar pressureValues = global.get('pressure') || {'pressure':[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]};\n// eliminate the oldest value of the array\npressureValues.pressure.shift();\n// pushing the newest value on the array\npressureValues.pressure.push(actualPressure);\n// setting back the new value to the array \nglobal.set ('pressure',pressureValues);\n\n// mean calculation\nvar pressureMean1=0;\nvar pressureMean2=0;\nfor (i=0;i<5;i++){\n pressureMean1+=pressureValues.pressure[i];\n pressureMean2+=pressureValues.pressure[i+5];\n}\npressureMean1=pressureMean1/5;\npressureMean2=pressureMean2/5;\nvar bleedRate = Math.round((pressureMean2-pressureMean1) * -60); // PSI per Minutes\n\n//setting the limits\nvar systemTolerance = 0.1; // Adjust to higher if motor is over reacting\nvar primaryRate = global.get('primaryBleedRate') || 1000; \nvar pUCL = primaryRate + (primaryRate * systemTolerance);\nvar pLCL = primaryRate - (primaryRate * systemTolerance);\nvar secondaryRate = global.get('secondaryBleedRate') || 100;\nvar sUCL = secondaryRate + (2 * secondaryRate * systemTolerance);\nvar sLCL = secondaryRate - (2 * secondaryRate * systemTolerance);\n\nvar actionOut='stay';\nvar breakPoint = global.get('bleedBreakPoint') || 1000;\nif (actualPressure>breakPoint) {\n    // Primary Bleed Rate\n    if (bleedRate > pUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < pLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n} else {\n    // Secundary Bleed Rate\n    if (bleedRate > sUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < sLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n}\n// message out\nmsg.payload={'pressure':[actualPressure,bleedRate,actionOut], 'other':[pressureMean1,pressureMean2,pLCL,pUCL,sLCL,sUCL]};\n\nreturn [msg,msg,msg];","outputs":"3","noerr":0,"x":670,"y":400,"wires":[["652ebaa0.768f54","f3304642.1346b8"],["f416e547.0b8528"],["aab0440c.0c7da8"]]},{"id":"cd1ac88a.f1c4c8","type":"ui_text","z":"e4339ded.6c6cd","group":"da1bbeb5.79656","order":2,"width":0,"height":0,"name":"System Pressure","label":"System Pressure","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":360,"wires":[]},{"id":"7f4da913.0749d8","type":"ui_text","z":"e4339ded.6c6cd","group":"da1bbeb5.79656","order":4,"width":0,"height":0,"name":"Bleed Rate","label":"Bleed Rate","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":400,"wires":[]},{"id":"652ebaa0.768f54","type":"debug","z":"e4339ded.6c6cd","name":"","active":false,"console":"false","complete":"true","x":910,"y":300,"wires":[]},{"id":"7d08243a.6d5c7c","type":"ui_text","z":"e4339ded.6c6cd","group":"da1bbeb5.79656","order":6,"width":0,"height":0,"name":"Action","label":"Action","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":440,"wires":[]},{"id":"9674bd23.eeaf9","type":"inject","z":"e4339ded.6c6cd","name":"Start Variables","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":140,"y":140,"wires":[["e4b42a10.506648","57477845.819c18","7ddf1e1.08a7fe"]]},{"id":"40af8f4d.d28d6","type":"comment","z":"e4339ded.6c6cd","name":"Initialize Global Variables","info":"","x":130,"y":40,"wires":[]},{"id":"c2a4882c.2e1928","type":"ui_slider","z":"e4339ded.6c6cd","name":"Secondary Bleed Rate","label":"","group":"a11d9528.a79978","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":"25","max":"1000","step":"25","x":680,"y":180,"wires":[["a612c8e8.6f7548"]]},{"id":"260cbf30.efd2","type":"ui_text","z":"e4339ded.6c6cd","group":"a11d9528.a79978","order":5,"width":0,"height":0,"name":"Secondary Bleed Rate lbl","label":"Secondary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1230,"y":180,"wires":[]},{"id":"187963ac.093d0c","type":"ui_slider","z":"e4339ded.6c6cd","name":"Bleed Break Point","label":"","group":"a11d9528.a79978","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"10000","step":"500","x":670,"y":140,"wires":[["9c3493a2.933e9"]]},{"id":"77e5a61c.5cccc8","type":"ui_text","z":"e4339ded.6c6cd","group":"a11d9528.a79978","order":3,"width":0,"height":0,"name":"Bleed Break Point lbl","label":"Bleed Break Point","format":"{{msg.payload}} lbs","layout":"col-center","x":1220,"y":140,"wires":[]},{"id":"d395e67c.f609d8","type":"ui_text","z":"e4339ded.6c6cd","group":"a11d9528.a79978","order":1,"width":0,"height":0,"name":"Primary Bleed Rate lbl","label":"Primary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1220,"y":100,"wires":[]},{"id":"c4db3112.1c42f","type":"ui_slider","z":"e4339ded.6c6cd","name":"Primary Bleed Rate","label":"","group":"a11d9528.a79978","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"250","max":"10000","step":"250","x":670,"y":100,"wires":[["31ac5caa.cbdb04"]]},{"id":"4c03ccbc.93b804","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"AUTO-OPEN","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    OPEN\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":960,"wires":[[]]},{"id":"30d37bae.52e324","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"AUTO-CANCEL","order":4,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CANCEL\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":1040,"wires":[[]]},{"id":"4388afb.e44e55","type":"function","z":"e4339ded.6c6cd","name":"Act on Auto Mode","func":"var action = global.get ('action') || 'stay';\nmsg.payload = true;\nif (action === 'close') {\n    return [msg,null];\n} else if (action==='open') {\n    return[null,msg];\n} else {\n    return [null,null];\n}","outputs":"2","noerr":0,"x":310,"y":1200,"wires":[["a111968f.bd41d8","79f04a9f.0ad2e4"],["ce52e719.01fb38"]]},{"id":"a111968f.bd41d8","type":"debug","z":"e4339ded.6c6cd","name":"","active":true,"console":"false","complete":"false","x":570,"y":1120,"wires":[]},{"id":"da75336a.85d18","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":810,"y":1300,"wires":[["2f5fd894.46f508"],[]]},{"id":"2f5fd894.46f508","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1040,"y":1300,"wires":[[],[]]},{"id":"13f50685.37cd09","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":810,"y":1200,"wires":[["f02ebdbf.c60e2"],[]]},{"id":"1dea7971.492327","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1340,"y":1200,"wires":[[],[]]},{"id":"223e656c.4f054a","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1050,"y":1360,"wires":[["a9d13e83.cb1f2"],[]]},{"id":"21948ff6.c2693","type":"trigger","z":"e4339ded.6c6cd","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":570,"y":1360,"wires":[["f987ea47.996388"]]},{"id":"23a0db1a.4f3074","type":"trigger","z":"e4339ded.6c6cd","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":790,"y":1480,"wires":[["fbb6513c.0977f"]]},{"id":"f02ebdbf.c60e2","type":"trigger","z":"e4339ded.6c6cd","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":1030,"y":1200,"wires":[["1dea7971.492327"]]},{"id":"31ac5caa.cbdb04","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"primaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":100,"wires":[["d395e67c.f609d8"]]},{"id":"9c3493a2.933e9","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"bleedBreakPoint","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[["77e5a61c.5cccc8"]]},{"id":"a612c8e8.6f7548","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"secondaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["260cbf30.efd2"]]},{"id":"e4b42a10.506648","type":"change","z":"e4339ded.6c6cd","name":"Set primaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"primaryBleedRate","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["c4db3112.1c42f"]]},{"id":"57477845.819c18","type":"change","z":"e4339ded.6c6cd","name":"Set bleedBreakPoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"bleedBreakPoint","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["187963ac.093d0c"]]},{"id":"7ddf1e1.08a7fe","type":"change","z":"e4339ded.6c6cd","name":"Set secondaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"secondaryBleedRate","pt":"global","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["c2a4882c.2e1928"]]},{"id":"f06c0a41.a533f8","type":"change","z":"e4339ded.6c6cd","name":"Set systemPressure","rules":[{"t":"set","p":"systemPressure","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[[]]},{"id":"4b72c672.62ffe8","type":"change","z":"e4339ded.6c6cd","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1300,"wires":[["da75336a.85d18"]]},{"id":"566df72c.390698","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"isManual","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":640,"wires":[[]]},{"id":"9623430a.a5d24","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"isAuto","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[[]]},{"id":"79f04a9f.0ad2e4","type":"change","z":"e4339ded.6c6cd","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1180,"wires":[["13f50685.37cd09"]]},{"id":"ce52e719.01fb38","type":"change","z":"e4339ded.6c6cd","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1220,"wires":[["13f50685.37cd09"]]},{"id":"f3304642.1346b8","type":"change","z":"e4339ded.6c6cd","name":"System Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["cd1ac88a.f1c4c8"]]},{"id":"f416e547.0b8528","type":"change","z":"e4339ded.6c6cd","name":"Bleed Rate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["7f4da913.0749d8"]]},{"id":"aab0440c.0c7da8","type":"change","z":"e4339ded.6c6cd","name":"Action","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":440,"wires":[["7d08243a.6d5c7c"]]},{"id":"2e4cd7bf.57ade8","type":"comment","z":"d8728a9c.d06688","name":"Initialize Global Variables","info":"","x":130,"y":40,"wires":[]},{"id":"f3529145.254e3","type":"function","z":"d8728a9c.d06688","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":380,"y":720,"wires":[["8e25bdd4.b9322"],["52dd65f.c6b239c"],["45463b28.c698a4"],["777502aa.c995cc"],["ae7edf7b.080cb"],["6f35b9c6.4863c8"],["411564.827fca9c"],["c65240ad.4e766"]]},{"id":"9b67a650.1a4968","type":"Analog Input","z":"d8728a9c.d06688","name":"Pressure Transducer","sensorType":"4-20mA","resolution":"15_Bit_signed","selectedProcess":"Scaled","low":"0","high":"1000","precision":"3","x":400,"y":280,"wires":[["1ae37693.ebd839","6a63889e.f77678","c9cb4db5.74a49"]]},{"id":"8e25bdd4.b9322","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_00_close","label":"CLOSE","group":"f1b5674b.bd2d78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":520,"wires":[["53531d5f.9038c4"]]},{"id":"45463b28.c698a4","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_02_manual","label":"MANUAL","group":"f1b5674b.bd2d78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":640,"wires":[["5f26caf1.78be64"]]},{"id":"52dd65f.c6b239c","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_01_open","label":"OPEN","group":"f1b5674b.bd2d78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":580,"wires":[["50ff80f7.b96ee"]]},{"id":"777502aa.c995cc","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_03_auto","label":"AUTO","group":"f1b5674b.bd2d78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":700,"wires":[["2eac3d1f.0bb9d2"]]},{"id":"ae7edf7b.080cb","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_04","label":"DI_04_lbl","group":"f1b5674b.bd2d78","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":760,"wires":[[]]},{"id":"411564.827fca9c","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_06_Ready","label":"Ready","group":"da1bbeb5.79656","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":880,"wires":[["299a0846.4942a8"]]},{"id":"6f35b9c6.4863c8","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_05_HomePosition","label":"In Home Position","group":"f1b5674b.bd2d78","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":820,"wires":[[]]},{"id":"c65240ad.4e766","type":"ui_switch","z":"d8728a9c.d06688","name":"DI_07_Alarm","label":"Alarm","group":"da1bbeb5.79656","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":940,"wires":[["a2c541f8.60ecb"]]},{"id":"56480616.95cd98","type":"comment","z":"d8728a9c.d06688","name":"Analog Input","info":"","x":90,"y":220,"wires":[]},{"id":"e34535a0.bbd6b8","type":"comment","z":"d8728a9c.d06688","name":"Digital Inputs","info":"","x":90,"y":560,"wires":[]},{"id":"cd448f74.a386a","type":"comment","z":"d8728a9c.d06688","name":"Valve Operation","info":"","x":120,"y":1280,"wires":[]},{"id":"8e323fbe.d1479","type":"modbus-read","z":"d8728a9c.d06688","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":620,"wires":[["f3529145.254e3"],[]]},{"id":"9b96de56.ae651","type":"modbus-read","z":"d8728a9c.d06688","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":130,"y":280,"wires":[["9b67a650.1a4968"],[]]},{"id":"299a0846.4942a8","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"66859124.60626","x":1240,"y":880,"wires":[[],[]]},{"id":"99171618.9b5158","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"66859124.60626","x":1240,"y":940,"wires":[[],[]]},{"id":"b51b2f88.f342","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":810,"y":1420,"wires":[["f7747acc.97fd08"],[]]},{"id":"f7747acc.97fd08","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1050,"y":1420,"wires":[["8e15949a.5cebb8"],[]]},{"id":"8e15949a.5cebb8","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1300,"y":1420,"wires":[[],[]]},{"id":"32b60b13.806c24","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1320,"y":1360,"wires":[[],[]]},{"id":"7d0f3b89.6ea284","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"66859124.60626","x":1220,"y":520,"wires":[[],[]]},{"id":"1ae37693.ebd839","type":"ui_gauge","z":"d8728a9c.d06688","name":"SYSTEM PRESSURE","group":"f1b5674b.bd2d78","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":320,"wires":[]},{"id":"a2c541f8.60ecb","type":"function","z":"d8728a9c.d06688","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":940,"wires":[["99171618.9b5158"]]},{"id":"4a4d7c83.0c78f4","type":"ui_template","z":"d8728a9c.d06688","group":"30e12ee8.1044d2","name":"MANUAL START","order":7,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    MAN STRT\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":1360,"wires":[["e6f41c57.8784b"]]},{"id":"68461981.0ec948","type":"ui_template","z":"d8728a9c.d06688","group":"30e12ee8.1044d2","name":"RESET ALARM","order":9,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":1420,"wires":[["b51b2f88.f342","ec31cb17.e95798"]]},{"id":"53531d5f.9038c4","type":"ui_template","z":"d8728a9c.d06688","group":"30e12ee8.1044d2","name":"Close Valve","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":520,"wires":[["7d0f3b89.6ea284"]]},{"id":"50ff80f7.b96ee","type":"link out","z":"d8728a9c.d06688","name":"ValveOperation","links":["e7c5fffa.871d"],"x":855,"y":580,"wires":[]},{"id":"e7c5fffa.871d","type":"link in","z":"d8728a9c.d06688","name":"Valve","links":["50ff80f7.b96ee"],"x":115,"y":1320,"wires":[["bf4a99d7.5d0738"]]},{"id":"bf4a99d7.5d0738","type":"function","z":"d8728a9c.d06688","name":"Valve Control","func":"var Auto = flow.get ('isAuto');\nvar Manual = flow.get('isManual');\n\nif (Auto===true && msg.payload===true){\n    msg.payload='Auto';\n    return [msg,null,null];\n} else if (Manual===true && msg.payload===true){\n    msg.payload=true;\n    return [null,msg,null];\n} else if (Auto===false && Manual===false && msg.payload===true){\n    msg.payload=false;\n    return [null,null,msg];\n} else {\n    return [null,null,null];\n}","outputs":"3","noerr":0,"x":290,"y":1360,"wires":[["9ad75e6a.4a4f9","7a706123.56576","6bace674.a0c2a8"],["60517389.b8364c"],["68461981.0ec948"]],"outputLabels":["Auto","Manual","Reset Alarm"]},{"id":"ef2fecd1.95401","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"66859124.60626","x":1330,"y":1480,"wires":[[],[]]},{"id":"a3bb74e3.5d5e68","type":"comment","z":"d8728a9c.d06688","name":"Valve Operation","info":"","x":960,"y":580,"wires":[]},{"id":"a0e505a3.327b18","type":"comment","z":"d8728a9c.d06688","name":"Auto Operation","info":"","x":400,"y":1120,"wires":[]},{"id":"6a63889e.f77678","type":"function","z":"d8728a9c.d06688","name":"Valve Control Logic","func":"// get assign global variables\nvar actualPressure = Number(msg.payload);\nglobal.set('currentPresure', actualPressure);\nvar pressureValues = global.get('pressure') || {'pressure':[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]};\n// eliminate the oldest value of the array\npressureValues.pressure.shift();\n// pushing the newest value on the array\npressureValues.pressure.push(actualPressure);\n// setting back the new value to the array \nglobal.set ('pressure',pressureValues);\n\n// mean calculation\nvar pressureMean1=0;\nvar pressureMean2=0;\nfor (i=0;i<5;i++){\n pressureMean1+=pressureValues.pressure[i];\n pressureMean2+=pressureValues.pressure[i+5];\n}\npressureMean1=pressureMean1/5;\npressureMean2=pressureMean2/5;\nvar bleedRate = Math.round((pressureMean2-pressureMean1) * -60); // PSI per Minutes\n\n//setting the limits\nvar systemTolerance = 0.1; // Adjust to higher if motor is over reacting\nvar primaryRate = global.get('primaryBleedRate') || 1000; \nvar pUCL = primaryRate + (primaryRate * systemTolerance);\nvar pLCL = primaryRate - (primaryRate * systemTolerance);\nvar secondaryRate = global.get('secondaryBleedRate') || 100;\nvar sUCL = secondaryRate + (2 * secondaryRate * systemTolerance);\nvar sLCL = secondaryRate - (2 * secondaryRate * systemTolerance);\n\nvar actionOut='stay';\nvar breakPoint = global.get('bleedBreakPoint') || 1000;\nif (actualPressure>breakPoint) {\n    // Primary Bleed Rate\n    if (bleedRate > pUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < pLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n} else {\n    // Secundary Bleed Rate\n    if (bleedRate > sUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < sLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n}\n// message out\nmsg.payload={'pressure':[actualPressure,bleedRate,actionOut], 'other':[pressureMean1,pressureMean2,pLCL,pUCL,sLCL,sUCL]};\n\nreturn [msg,msg,msg];","outputs":"3","noerr":0,"x":670,"y":400,"wires":[["951ed498.3fea18","db247ccf.f3822"],["f0380986.598c58"],["a4f35f14.bd853"]]},{"id":"a7c41f8e.0c96f","type":"ui_text","z":"d8728a9c.d06688","group":"da1bbeb5.79656","order":2,"width":0,"height":0,"name":"System Pressure","label":"System Pressure","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":360,"wires":[]},{"id":"7ba02681.95c428","type":"ui_text","z":"d8728a9c.d06688","group":"da1bbeb5.79656","order":4,"width":0,"height":0,"name":"Bleed Rate","label":"Bleed Rate","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":400,"wires":[]},{"id":"951ed498.3fea18","type":"debug","z":"d8728a9c.d06688","name":"","active":false,"console":"false","complete":"true","x":910,"y":300,"wires":[]},{"id":"74286210.3a4acc","type":"ui_text","z":"d8728a9c.d06688","group":"da1bbeb5.79656","order":6,"width":0,"height":0,"name":"Action","label":"Action","format":"{{msg.payload}}","layout":"col-center","x":1270,"y":440,"wires":[]},{"id":"e96e3d3f.8090c","type":"inject","z":"d8728a9c.d06688","name":"Start Variables","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":140,"y":140,"wires":[["fd3d174f.1468d8","864ad896.9b5bc8","7b16e420.6d974c"]]},{"id":"84fab3de.ace2a","type":"ui_slider","z":"d8728a9c.d06688","name":"Secondary Bleed Rate","label":"","group":"a11d9528.a79978","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":"25","max":"1000","step":"25","x":680,"y":180,"wires":[["2926a602.fbdc4a"]]},{"id":"43756acc.2d6854","type":"ui_text","z":"d8728a9c.d06688","group":"a11d9528.a79978","order":5,"width":0,"height":0,"name":"Secondary Bleed Rate lbl","label":"Secondary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1230,"y":180,"wires":[]},{"id":"f457eaae.370be8","type":"ui_slider","z":"d8728a9c.d06688","name":"Bleed Break Point","label":"","group":"a11d9528.a79978","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"10000","step":"500","x":670,"y":140,"wires":[["545fb510.a58cdc"]]},{"id":"f6e03987.4855f8","type":"ui_text","z":"d8728a9c.d06688","group":"a11d9528.a79978","order":3,"width":0,"height":0,"name":"Bleed Break Point lbl","label":"Bleed Break Point","format":"{{msg.payload}} lbs","layout":"col-center","x":1220,"y":140,"wires":[]},{"id":"5e9c053d.d0bf7c","type":"ui_text","z":"d8728a9c.d06688","group":"a11d9528.a79978","order":1,"width":0,"height":0,"name":"Primary Bleed Rate lbl","label":"Primary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1220,"y":100,"wires":[]},{"id":"6014b215.b0695c","type":"ui_slider","z":"d8728a9c.d06688","name":"Primary Bleed Rate","label":"","group":"a11d9528.a79978","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"250","max":"10000","step":"250","x":670,"y":100,"wires":[["2b2d6ad9.3e2966"]]},{"id":"9f52663b.e97248","type":"ui_template","z":"d8728a9c.d06688","group":"30e12ee8.1044d2","name":"AUTO-OPEN","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    OPEN\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":960,"wires":[[]]},{"id":"33b67a0a.8e3936","type":"ui_template","z":"d8728a9c.d06688","group":"30e12ee8.1044d2","name":"AUTO-CANCEL","order":4,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CANCEL\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":1040,"wires":[[]]},{"id":"2ef40f27.e98c2","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":810,"y":1300,"wires":[["f76f3416.322218"],[]]},{"id":"f76f3416.322218","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1040,"y":1300,"wires":[[],[]]},{"id":"865cbe7a.9ccf8","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":830,"y":1160,"wires":[["7f65e9e6.c22918","cd41d27c.472b4"],[]]},{"id":"c27e6072.2b6fc","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1280,"y":1160,"wires":[[],[]]},{"id":"e6f41c57.8784b","type":"modbus-write","z":"d8728a9c.d06688","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1050,"y":1360,"wires":[["32b60b13.806c24"],[]]},{"id":"60517389.b8364c","type":"trigger","z":"d8728a9c.d06688","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":570,"y":1360,"wires":[["4a4d7c83.0c78f4"]]},{"id":"ec31cb17.e95798","type":"trigger","z":"d8728a9c.d06688","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":790,"y":1480,"wires":[["ef2fecd1.95401"]]},{"id":"7f65e9e6.c22918","type":"trigger","z":"d8728a9c.d06688","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":1050,"y":1160,"wires":[["c27e6072.2b6fc"]]},{"id":"2b2d6ad9.3e2966","type":"change","z":"d8728a9c.d06688","name":"","rules":[{"t":"set","p":"primaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":100,"wires":[["5e9c053d.d0bf7c"]]},{"id":"545fb510.a58cdc","type":"change","z":"d8728a9c.d06688","name":"","rules":[{"t":"set","p":"bleedBreakPoint","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[["f6e03987.4855f8"]]},{"id":"2926a602.fbdc4a","type":"change","z":"d8728a9c.d06688","name":"","rules":[{"t":"set","p":"secondaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["43756acc.2d6854"]]},{"id":"fd3d174f.1468d8","type":"change","z":"d8728a9c.d06688","name":"Set primaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"primaryBleedRate","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["6014b215.b0695c"]]},{"id":"864ad896.9b5bc8","type":"change","z":"d8728a9c.d06688","name":"Set bleedBreakPoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"bleedBreakPoint","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["f457eaae.370be8"]]},{"id":"7b16e420.6d974c","type":"change","z":"d8728a9c.d06688","name":"Set secondaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"secondaryBleedRate","pt":"global","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["84fab3de.ace2a"]]},{"id":"c9cb4db5.74a49","type":"change","z":"d8728a9c.d06688","name":"Set systemPressure","rules":[{"t":"set","p":"systemPressure","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[[]]},{"id":"9ad75e6a.4a4f9","type":"change","z":"d8728a9c.d06688","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1300,"wires":[["2ef40f27.e98c2"]]},{"id":"5f26caf1.78be64","type":"change","z":"d8728a9c.d06688","name":"","rules":[{"t":"set","p":"isManual","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":640,"wires":[[]]},{"id":"2eac3d1f.0bb9d2","type":"change","z":"d8728a9c.d06688","name":"","rules":[{"t":"set","p":"isAuto","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[[]]},{"id":"697847cc.8f8f08","type":"change","z":"d8728a9c.d06688","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1140,"wires":[["865cbe7a.9ccf8"]]},{"id":"aeee84e9.f522b8","type":"change","z":"d8728a9c.d06688","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1180,"wires":[["865cbe7a.9ccf8"]]},{"id":"db247ccf.f3822","type":"change","z":"d8728a9c.d06688","name":"System Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["a7c41f8e.0c96f"]]},{"id":"f0380986.598c58","type":"change","z":"d8728a9c.d06688","name":"Bleed Rate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["7ba02681.95c428"]]},{"id":"a4f35f14.bd853","type":"change","z":"d8728a9c.d06688","name":"Action","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":440,"wires":[["807c273a.57a8d8"]]},{"id":"6bace674.a0c2a8","type":"function","z":"d8728a9c.d06688","name":"Act on Auto Mode","func":"for (i=0;i<5;i++){\n    //setTimeout(null,1000);\n    //msg.action = flow.get ('action');\n\n    var action = flow.get ('valveAction')\n    msg.payload = action;\n    \n    if (action === 'close') {\n        return [msg,null];\n    } else if (action==='open') {\n        return[null,msg];\n    } else {\n        return [null,null];\n    }\n}\n","outputs":"2","noerr":0,"x":410,"y":1160,"wires":[["697847cc.8f8f08","6b162614.4cb308"],["aeee84e9.f522b8","f41fa1d.1374b6"]]},{"id":"6b162614.4cb308","type":"debug","z":"d8728a9c.d06688","name":"","active":false,"console":"false","complete":"true","x":670,"y":1100,"wires":[]},{"id":"f41fa1d.1374b6","type":"debug","z":"d8728a9c.d06688","name":"","active":false,"console":"false","complete":"true","x":670,"y":1220,"wires":[]},{"id":"7a706123.56576","type":"debug","z":"d8728a9c.d06688","name":"","active":false,"console":"false","complete":"true","x":390,"y":1520,"wires":[]},{"id":"807c273a.57a8d8","type":"change","z":"d8728a9c.d06688","name":"","rules":[{"t":"set","p":"valveAction","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":440,"wires":[["74286210.3a4acc"]]},{"id":"f5ce8f90.2ae7e","type":"debug","z":"d8728a9c.d06688","name":"","active":true,"console":"false","complete":"true","x":1270,"y":1040,"wires":[]},{"id":"cd41d27c.472b4","type":"delay","z":"d8728a9c.d06688","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":1080,"wires":[["1def2b56.b05455"]]},{"id":"1def2b56.b05455","type":"function","z":"d8728a9c.d06688","name":"ifNotZeroContinues","func":"var systemPressure = flow.get ('systemPressure');\nif (systemPressure<0.5){\n   return null \n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":1070,"y":1040,"wires":[["f5ce8f90.2ae7e","6bace674.a0c2a8"]]}]
