roanv_nodered.txt
[{"id":"a12209e0.000438","type":"tab","label":"ControlSystem","disabled":false,"info":"// MonitorSystem\r\n\r\n// NodeRed Flow that monitors and control\r\n// ROANV Remote Operated Automated Needle Valve\r\n// project made for Global Manufacturing Team\r\n// Houston, TX, USA, 2018 Jan 8th\r\n\r\n// Written by: Miguel R. Lopez"},{"id":"ac69b3eb.4f59a","type":"tab","label":"MonitorSystem","disabled":true,"info":"// MonitorSystem\r\n\r\n// NodeRed Flow that monitors and control\r\n// ROANV Remote Operated Automated Needle Valve\r\n// project made for Global Manufacturing Team\r\n// Houston, TX, USA, 2018 Jan 8th\r\n\r\n// Written by: Miguel R. Lopez"},{"id":"ca8584c0.3f1858","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"83cecb6.9175138","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#420084","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#420084","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6800d0","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#420084","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}}},"site":{"name":"ROANV Main Page","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":12,"gy":12,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"604e6e83.2c6d5","type":"ui_tab","z":"","name":"Maintenance","icon":"dashboard","order":3},{"id":"6293fbbb.cd45f4","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2},{"id":"66859124.60626","type":"modbus-client","z":"","name":"Wago750-352","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"f1b5674b.bd2d78","type":"ui_group","z":"","name":"Inputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"a0c8ae9c.9b1fb","type":"ui_group","z":"","name":"Outputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"d68b7bf6.3deef8","type":"sqlitedb","z":"","db":"/tmp/learndb"},{"id":"da1bbeb5.79656","type":"ui_group","z":"","name":"System Status","tab":"3da218f9.67d898","order":1,"disp":true,"width":"6"},{"id":"478c96d0.6d8eb8","type":"ui_link","z":"","name":"By: Miguel Lopez","link":"http://www.miguelruben.com","icon":"open_in_browser","target":"newtab","order":5},{"id":"dfa4948.a98f468","type":"ui_group","z":"","name":"AutoMode","tab":"6293fbbb.cd45f4","disp":true,"width":"7"},{"id":"700b7cb9.2a9344","type":"ui_tab","z":"","name":"Learning Actions","icon":"dashboard","order":4},{"id":"3da218f9.67d898","type":"ui_tab","z":"","name":"Auto Mode","icon":"dashboard","order":1},{"id":"a11d9528.a79978","type":"ui_group","z":"","name":"Setup","tab":"3da218f9.67d898","order":3,"disp":true,"width":"6"},{"id":"30e12ee8.1044d2","type":"ui_group","z":"","name":"Controls","tab":"3da218f9.67d898","order":2,"disp":true,"width":"6"},{"id":"c8ff9b61.079258","type":"Analog Input","z":"ac69b3eb.4f59a","name":"Pressure Transducer","sensorType":"4-20mA","resolution":"15_Bit_signed","selectedProcess":"Scaled","low":"0","high":"1000","precision":"3","x":400,"y":75,"wires":[["e2ee91f2.81eb2"]]},{"id":"93138a71.b36e08","type":"function","z":"ac69b3eb.4f59a","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":253,"y":374,"wires":[["8240bb0c.0a1058"],["1d18e85f.455f48"],["bddf4f1e.a4461"],["94f9d492.afa4e8"],["1f563f5d.bd2681"],["94ab0080.c128b"],["47be5783.b0ab08"],["5c2e365.1c821c8"]]},{"id":"8240bb0c.0a1058","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_00_close","label":"CLOSE","group":"f1b5674b.bd2d78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":495,"y":204,"wires":[["25d7a863.31a278"]]},{"id":"bddf4f1e.a4461","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_02_manual","label":"MANUAL","group":"f1b5674b.bd2d78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":556,"y":306,"wires":[["e9ab9430.760078"]]},{"id":"1d18e85f.455f48","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_01_open","label":"OPEN","group":"f1b5674b.bd2d78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":529,"y":255,"wires":[["e9ab9430.760078"]]},{"id":"94f9d492.afa4e8","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_03_auto","label":"AUTO","group":"f1b5674b.bd2d78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":563,"y":357,"wires":[["e9ab9430.760078"]]},{"id":"1f563f5d.bd2681","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_04","label":"DI_04_lbl","group":"f1b5674b.bd2d78","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":543,"y":408,"wires":[[]]},{"id":"47be5783.b0ab08","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_06_Ready","label":"Ready","group":"f1b5674b.bd2d78","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":539,"y":510,"wires":[["ff9be132.86999"]]},{"id":"94ab0080.c128b","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_05_HomePosition","label":"In Home Position","group":"f1b5674b.bd2d78","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":576,"y":459,"wires":[[]]},{"id":"5c2e365.1c821c8","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_07_Alarm","label":"Alarm","group":"f1b5674b.bd2d78","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":495,"y":561,"wires":[["fd019eb1.ab2ae"]]},{"id":"c5ce7800.849368","type":"comment","z":"ac69b3eb.4f59a","name":"Analog Input","info":"","x":121,"y":34,"wires":[]},{"id":"f7d80141.677e3","type":"comment","z":"ac69b3eb.4f59a","name":"Digital Inputs","info":"","x":121,"y":153,"wires":[]},{"id":"113d6ed1.141471","type":"comment","z":"ac69b3eb.4f59a","name":"Steps Configuration","info":"","x":141,"y":629,"wires":[]},{"id":"d0836036.27bc","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Driver M1","label":"Drv_M1","group":"a0c8ae9c.9b1fb","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1046,"y":255,"wires":[["b4289201.82298","a95118c3.bf6038"]]},{"id":"ff9be132.86999","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Ready Light ","label":"READY","group":"a0c8ae9c.9b1fb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":733,"y":510,"wires":[["fb9b4705.3237a8"]]},{"id":"bbe6c74d.99f718","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Driver M0","label":"Drv_M0","group":"a0c8ae9c.9b1fb","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":111,"y":680,"wires":[["91e79770.856298"]]},{"id":"7a9e9a04.acc3b4","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Driver M2","label":"Drv_M2","group":"a0c8ae9c.9b1fb","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":111,"y":731,"wires":[["22cb43fe.2168bc"]]},{"id":"98ad62b1.60a4c","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Alarm Light","label":"ALARM","group":"a0c8ae9c.9b1fb","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":852,"y":561,"wires":[["2ba2d541.b66c9a"]]},{"id":"fb62b1d5.95fb3","type":"modbus-read","z":"ac69b3eb.4f59a","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":141,"y":204,"wires":[["93138a71.b36e08"],[]]},{"id":"6bd7ab68.b362d4","type":"modbus-read","z":"ac69b3eb.4f59a","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":141,"y":85,"wires":[["c8ff9b61.079258"],[]]},{"id":"fb9b4705.3237a8","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"66859124.60626","x":970,"y":510,"wires":[[],[]]},{"id":"2ba2d541.b66c9a","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"66859124.60626","x":1089,"y":561,"wires":[[],[]]},{"id":"d6571c6b.f52ba","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"66859124.60626","x":1300,"y":357,"wires":[[],[]]},{"id":"91e79770.856298","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":311,"y":680,"wires":[[],[]]},{"id":"b4289201.82298","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1263,"y":204,"wires":[[],[]]},{"id":"22cb43fe.2168bc","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":301,"y":731,"wires":[[],[]]},{"id":"d9d532cd.010c5","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1426,"y":255,"wires":[[],[]]},{"id":"543f88b8.e643a8","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"66859124.60626","x":882,"y":204,"wires":[[],[]]},{"id":"e2ee91f2.81eb2","type":"ui_gauge","z":"ac69b3eb.4f59a","name":"SYSTEM PRESSURE","group":"f1b5674b.bd2d78","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":655,"y":75,"wires":[]},{"id":"50844c4c.f9f2f4","type":"sqlite","z":"ca8584c0.3f1858","mydb":"d68b7bf6.3deef8","name":"Learning Database","x":483,"y":193,"wires":[["c4fff867.2ac0d8"]]},{"id":"b07fdce2.f3b09","type":"inject","z":"ca8584c0.3f1858","name":"create database table","topic":"CREATE TABLE RANDOMNUM(TIMESTAMP INT PRIMARY KEY NOT NULL, VALUE INT NOT NULL, BOOL INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":207,"y":121,"wires":[["50844c4c.f9f2f4"]]},{"id":"c4fff867.2ac0d8","type":"debug","z":"ca8584c0.3f1858","name":"","active":false,"console":"false","complete":"false","x":603,"y":303,"wires":[]},{"id":"cd50960c.1c70f8","type":"inject","z":"ca8584c0.3f1858","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":118,"y":186,"wires":[["164193fc.b6056c"]]},{"id":"164193fc.b6056c","type":"function","z":"ca8584c0.3f1858","name":"Add Values every 15s","func":"var randomNum = Math.round(Math.random()*100);\nvar largeBool = (randomNum > 50)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO RANDOMNUM VALUES ( \" + msg.payload + \", \" + randomNum + \", \" + largeBool + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":216,"y":272,"wires":[["50844c4c.f9f2f4"]]},{"id":"1abbecb8.54da33","type":"inject","z":"ca8584c0.3f1858","name":"querydb","topic":"SELECT * FROM RANDOMNUM ORDER BY TIMESTAMP DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":294,"y":333,"wires":[["50844c4c.f9f2f4"]]},{"id":"5c58d9b.3611428","type":"inject","z":"ca8584c0.3f1858","name":"read reecords","topic":"SELECT * FROM RANDOMNUM ORDER BY TIMESTAMP DESC LIMIT 10;","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":147,"y":459,"wires":[["70572a3b.34e644"]]},{"id":"70572a3b.34e644","type":"sqlite","z":"ca8584c0.3f1858","mydb":"d68b7bf6.3deef8","name":"Learning Database","x":378,"y":422,"wires":[["25ada0ee.47c5a"]]},{"id":"25ada0ee.47c5a","type":"ui_template","z":"ca8584c0.3f1858","group":"da1bbeb5.79656","name":"","order":1,"width":0,"height":0,"format":"<table style=\"width:90%\">\n  <tr>\n    <!--<th>Index</th>-->\n    <th>Timestamp</th>\n    <th>Value</th> \n    <th>Bool</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <!--<td>{{$index}}</td>-->\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].VALUE}}</td> \n    <td>{{msg.payload[$index].BOOL}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":619,"y":484,"wires":[[]]},{"id":"49323c6a.347464","type":"ui_text_input","z":"ca8584c0.3f1858","name":"Test Var tostore","label":"Variable to store","group":"da1bbeb5.79656","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":381,"y":556,"wires":[[]]},{"id":"fd019eb1.ab2ae","type":"function","z":"ac69b3eb.4f59a","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":679,"y":561,"wires":[["98ad62b1.60a4c"]]},{"id":"a95118c3.bf6038","type":"ui_template","z":"ac69b3eb.4f59a","group":"a0c8ae9c.9b1fb","name":"Start","order":7,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    START\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1223,"y":255,"wires":[["d9d532cd.010c5"]]},{"id":"6fb887d.d609778","type":"ui_template","z":"ac69b3eb.4f59a","group":"a0c8ae9c.9b1fb","name":"RESET ALARM","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1066,"y":357,"wires":[["d6571c6b.f52ba"]]},{"id":"25d7a863.31a278","type":"ui_template","z":"ac69b3eb.4f59a","group":"a0c8ae9c.9b1fb","name":"Z-Home","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":672,"y":204,"wires":[["543f88b8.e643a8"]]},{"id":"e9ab9430.760078","type":"function","z":"ac69b3eb.4f59a","name":"PassWhenOpenPressed","func":"// declare 3 global variables\ncontext.bOpen = context.bOpen || false;\ncontext.bManual = context.bManual || false;\ncontext.bAuto = context.bAuto || false;\n\n// asign value to global variale based on topic\nif (msg.topic==='open'){\n    context.bOpen=msg.payload;\n} else if (msg.topic==='manual'){\n    context.bManual=msg.payload;\n} else if (msg.topic==='auto'){\n    context.bAuto=msg.payload;\n}\n\nif (context.bManual && context.bOpen){\n    \n    return [{topic:'Manual-Open',payload:true}, null, null];\n} else if (context.bAuto && context.bOpen){\n    return[null, {topic:'Auto-Open',payload:true}, null];\n} else if (context.bOpen && !context.bManual && !context.bAuto) {\n    return[null, null,{topic:'Alarm-Reset',payload:true}];\n} else {\n    return {payload:false};\n}\n\n","outputs":"3","noerr":0,"x":824,"y":306,"wires":[["d0836036.27bc"],["984bbd84.6e247"],["6fb887d.d609778"]],"outputLabels":["Manual-Open","Auto-Opem","Alarm-Reset"]},{"id":"984bbd84.6e247","type":"debug","z":"ac69b3eb.4f59a","name":"","active":false,"console":"false","complete":"false","x":1056,"y":306,"wires":[]},{"id":"e3189d68.50afd","type":"Analog Input","z":"a12209e0.000438","name":"Pressure Transducer","sensorType":"4-20mA","resolution":"15_Bit_signed","selectedProcess":"Scaled","low":"0","high":"1000","precision":"3","x":440,"y":1632,"wires":[["2f6fbf1e.3abdd","a26c36b5.c7cdc8","69c20ee2.0a136"]]},{"id":"fa7d1147.e4001","type":"function","z":"a12209e0.000438","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":389,"y":391,"wires":[["1e03b413.6c0d9c"],["6f0ae197.705bc"],["1a572e95.1cf961"],["6f5f803a.7dcac"],["5398cc9a.18e7e4"],["ca026edb.9130a"],["ab6749a0.0fd048"],["aa08b127.aca63"]]},{"id":"1e03b413.6c0d9c","type":"ui_switch","z":"a12209e0.000438","name":"DI_00_close","label":"CLOSE","group":"f1b5674b.bd2d78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":614,"y":221,"wires":[["7298e0ca.d03b9"]]},{"id":"1a572e95.1cf961","type":"ui_switch","z":"a12209e0.000438","name":"DI_02_manual","label":"MANUAL","group":"f1b5674b.bd2d78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":658,"y":323,"wires":[["bf3e75cc.d748c8"]]},{"id":"6f0ae197.705bc","type":"ui_switch","z":"a12209e0.000438","name":"DI_01_open","label":"OPEN","group":"f1b5674b.bd2d78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":631,"y":272,"wires":[["6cba2717.bf4e78"]]},{"id":"6f5f803a.7dcac","type":"ui_switch","z":"a12209e0.000438","name":"DI_03_auto","label":"AUTO","group":"f1b5674b.bd2d78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":665,"y":374,"wires":[["3d602596.dcdf5a"]]},{"id":"5398cc9a.18e7e4","type":"ui_switch","z":"a12209e0.000438","name":"DI_04","label":"DI_04_lbl","group":"f1b5674b.bd2d78","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":645,"y":425,"wires":[[]]},{"id":"ab6749a0.0fd048","type":"ui_switch","z":"a12209e0.000438","name":"DI_06_Ready","label":"Ready","group":"f1b5674b.bd2d78","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":641,"y":527,"wires":[["136d4d2a.6ce773"]]},{"id":"ca026edb.9130a","type":"ui_switch","z":"a12209e0.000438","name":"DI_05_HomePosition","label":"In Home Position","group":"f1b5674b.bd2d78","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":678,"y":476,"wires":[[]]},{"id":"aa08b127.aca63","type":"ui_switch","z":"a12209e0.000438","name":"DI_07_Alarm","label":"Alarm","group":"f1b5674b.bd2d78","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":614,"y":578,"wires":[["7eeed6ac.049d18"]]},{"id":"c9b98de4.74744","type":"comment","z":"a12209e0.000438","name":"Analog Input","info":"","x":172,"y":1632,"wires":[]},{"id":"e0232a.1cc38cd8","type":"comment","z":"a12209e0.000438","name":"Digital Inputs","info":"","x":121,"y":153,"wires":[]},{"id":"dcf2a28f.05948","type":"comment","z":"a12209e0.000438","name":"Valve Operation","info":"","x":148,"y":629,"wires":[]},{"id":"8ce6bf13.561d3","type":"ui_switch","z":"a12209e0.000438","name":"Driver M1","label":"Drv_M1","group":"a0c8ae9c.9b1fb","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":808,"y":969,"wires":[["dbb32c2c.f4e0c"]]},{"id":"136d4d2a.6ce773","type":"ui_switch","z":"a12209e0.000438","name":"Ready Light ","label":"READY","group":"a0c8ae9c.9b1fb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":852,"y":527,"wires":[["75f1c91f.adad38"]]},{"id":"dfe8ef2f.41516","type":"ui_switch","z":"a12209e0.000438","name":"Driver M0","label":"Drv_M0","group":"a0c8ae9c.9b1fb","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":808,"y":918,"wires":[["c9535269.519be"]]},{"id":"dc8589e8.d64618","type":"ui_switch","z":"a12209e0.000438","name":"Driver M2","label":"Drv_M2","group":"a0c8ae9c.9b1fb","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":808,"y":1020,"wires":[["85157ac.2a60b88"]]},{"id":"b457de5.91f222","type":"ui_switch","z":"a12209e0.000438","name":"Alarm Light","label":"ALARM","group":"a0c8ae9c.9b1fb","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":920,"y":578,"wires":[["bac415a4.84caa8"]]},{"id":"feb87c1e.052b8","type":"modbus-read","z":"a12209e0.000438","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":141,"y":204,"wires":[["fa7d1147.e4001"],[]]},{"id":"89633dc.3dcbbc","type":"modbus-read","z":"a12209e0.000438","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":192,"y":1700,"wires":[["e3189d68.50afd"],[]]},{"id":"75f1c91f.adad38","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"66859124.60626","x":1174,"y":527,"wires":[[],[]]},{"id":"bac415a4.84caa8","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"66859124.60626","x":1174,"y":578,"wires":[[],[]]},{"id":"c9535269.519be","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":1110,"y":918,"wires":[[],[]]},{"id":"dbb32c2c.f4e0c","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1110,"y":969,"wires":[[],[]]},{"id":"85157ac.2a60b88","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1100,"y":1020,"wires":[[],[]]},{"id":"49d53bc5.6a1b54","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1154,"y":765,"wires":[[],[]]},{"id":"dee587.ba490a78","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"66859124.60626","x":1154,"y":221,"wires":[[],[]]},{"id":"2f6fbf1e.3abdd","type":"ui_gauge","z":"a12209e0.000438","name":"SYSTEM PRESSURE","group":"f1b5674b.bd2d78","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":729,"y":1666,"wires":[]},{"id":"7eeed6ac.049d18","type":"function","z":"a12209e0.000438","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":764,"y":578,"wires":[["b457de5.91f222"]]},{"id":"b5227346.8860c","type":"ui_template","z":"a12209e0.000438","group":"a0c8ae9c.9b1fb","name":"Start","order":7,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    START\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":866,"y":714,"wires":[["49d53bc5.6a1b54"]]},{"id":"be332aed.77ec78","type":"ui_template","z":"a12209e0.000438","group":"a0c8ae9c.9b1fb","name":"RESET ALARM","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":233,"y":782,"wires":[["3f63ca06.ae6646"]]},{"id":"7298e0ca.d03b9","type":"ui_template","z":"a12209e0.000438","group":"a0c8ae9c.9b1fb","name":"Z-Home","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":221,"wires":[["dee587.ba490a78"]]},{"id":"bf3e75cc.d748c8","type":"function","z":"a12209e0.000438","name":"setManualSwState","func":"flow.set(\"isManual\",msg.payload);","outputs":1,"noerr":0,"x":889,"y":323,"wires":[[]]},{"id":"3d602596.dcdf5a","type":"function","z":"a12209e0.000438","name":"setAutoSwState","func":"flow.set(\"isAuto\",msg.payload);","outputs":1,"noerr":0,"x":879,"y":374,"wires":[[]]},{"id":"a26c36b5.c7cdc8","type":"function","z":"a12209e0.000438","name":"setSystemPressure","func":"flow.set('systemPressure',msg.payload);","outputs":1,"noerr":0,"x":719,"y":1615,"wires":[[]]},{"id":"6cba2717.bf4e78","type":"link out","z":"a12209e0.000438","name":"ValveOperation","links":["57b87684.240b08"],"x":780,"y":272,"wires":[]},{"id":"57b87684.240b08","type":"link in","z":"a12209e0.000438","name":"Valve","links":["6cba2717.bf4e78"],"x":117,"y":697,"wires":[["7eacd766.cd90a8"]]},{"id":"7eacd766.cd90a8","type":"function","z":"a12209e0.000438","name":"Valve Control","func":"var Auto = flow.get ('isAuto');\nvar Manual = flow.get('isManual');\n\nif (Auto===true && msg.payload===true){\n    msg.payload='Auto';\n    return [msg,null,null];\n} else if (Manual===true && msg.payload===true){\n    msg.payload=true;\n    return [null,msg,null];\n} else if (Auto===false && Manual===false && msg.payload===true){\n    msg.payload=false;\n    return [null,null,msg];\n} else {\n    return [null,null,null];\n}","outputs":"3","noerr":0,"x":240,"y":697,"wires":[["937893da.5ad4c"],["8d8b39c2.981578"],["3f63ca06.ae6646"]],"outputLabels":["Auto","Manual","Reset Alarm"]},{"id":"6efc5dd.6c066a4","type":"function","z":"a12209e0.000438","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":696,"y":1122,"wires":[["9421d061.778c4","c451683.06b7798"]]},{"id":"9421d061.778c4","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"66859124.60626","x":1130,"y":1122,"wires":[[],[]]},{"id":"eda5e55d.1d6c28","type":"comment","z":"a12209e0.000438","name":"Valve Operation","info":"","x":913,"y":272,"wires":[]},{"id":"f1d1bf65.a8e4e","type":"comment","z":"a12209e0.000438","name":"Reset Alarm","info":"","x":444,"y":1122,"wires":[]},{"id":"3f63ca06.ae6646","type":"link out","z":"a12209e0.000438","name":"resetAlarm","links":["cbab2673.c960c8"],"x":389,"y":748,"wires":[]},{"id":"cbab2673.c960c8","type":"link in","z":"a12209e0.000438","name":"","links":["3f63ca06.ae6646"],"x":542,"y":1122,"wires":[["6efc5dd.6c066a4","dfe8ef2f.41516","8ce6bf13.561d3","dc8589e8.d64618"]]},{"id":"c451683.06b7798","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":818,"y":1173,"wires":[["329e5ac3.53ab36"]]},{"id":"329e5ac3.53ab36","type":"function","z":"a12209e0.000438","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":1207,"wires":[["9421d061.778c4","eca915ab.615d78"]]},{"id":"d7e5b9c3.c6fd08","type":"modbus-read","z":"a12209e0.000438","name":"Read Digital Output","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"512","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":175,"y":901,"wires":[["83794ff0.8561d"],[]]},{"id":"83794ff0.8561d","type":"function","z":"a12209e0.000438","name":"Reading Wago Outputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":450,"y":986,"wires":[[],["dfe8ef2f.41516"],["8ce6bf13.561d3"],["dc8589e8.d64618"],[],[],[],[]]},{"id":"e1175287.ecdf6","type":"comment","z":"a12209e0.000438","name":"Reset Alarm & Close Valve","info":"","x":518,"y":748,"wires":[]},{"id":"f37501f9.3cbdc","type":"link out","z":"a12209e0.000438","name":"closeValve","links":["eabbc0f.0d52a4"],"x":1035,"y":1275,"wires":[]},{"id":"eabbc0f.0d52a4","type":"link in","z":"a12209e0.000438","name":"","links":["f37501f9.3cbdc"],"x":797,"y":170,"wires":[["7298e0ca.d03b9"]]},{"id":"2d4c6b3f.abc274","type":"comment","z":"a12209e0.000438","name":"Close Valve","info":"","x":699,"y":170,"wires":[]},{"id":"3eeecf62.794b6","type":"comment","z":"a12209e0.000438","name":"Close Valve","info":"","x":1124,"y":1275,"wires":[]},{"id":"eca915ab.615d78","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":818,"y":1275,"wires":[["6a236e36.5022"]]},{"id":"6a236e36.5022","type":"function","z":"a12209e0.000438","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":1309,"wires":[["f37501f9.3cbdc"]]},{"id":"8d8b39c2.981578","type":"link out","z":"a12209e0.000438","name":"manualOperation","links":["bf445666.8dc7c8"],"x":389,"y":697,"wires":[]},{"id":"b7ea8295.b9478","type":"comment","z":"a12209e0.000438","name":"Manual Operation","info":"","x":498,"y":697,"wires":[]},{"id":"bf445666.8dc7c8","type":"link in","z":"a12209e0.000438","name":"","links":["8d8b39c2.981578"],"x":542,"y":850,"wires":[["acbdf43f.ac0ea8","8ce6bf13.561d3"]]},{"id":"99a23f86.080f7","type":"comment","z":"a12209e0.000438","name":"Manual Operation","info":"","x":430,"y":850,"wires":[]},{"id":"937893da.5ad4c","type":"link out","z":"a12209e0.000438","name":"autoOperation","links":["75433de2.44fc94"],"x":389,"y":646,"wires":[]},{"id":"a097b3f6.7834a","type":"comment","z":"a12209e0.000438","name":"Auto Operation","info":"","x":216,"y":1462,"wires":[]},{"id":"acbdf43f.ac0ea8","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":765,"wires":[["49d53bc5.6a1b54","c64f4b87.129e58"]]},{"id":"c64f4b87.129e58","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":801,"y":850,"wires":[["92d3085.6cceaf8"]]},{"id":"92d3085.6cceaf8","type":"function","z":"a12209e0.000438","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":816,"wires":[["49d53bc5.6a1b54"]]},{"id":"75433de2.44fc94","type":"link in","z":"a12209e0.000438","name":"","links":["937893da.5ad4c"],"x":117,"y":1513,"wires":[[]]},{"id":"661fcb29.03a544","type":"comment","z":"a12209e0.000438","name":"Auto Operation","info":"","x":488,"y":646,"wires":[]},{"id":"d790f1a.e527d1","type":"ui_numeric","z":"a12209e0.000438","name":"Primary Bleed Rate","label":"Primary Bleed Rate","group":"dfa4948.a98f468","order":1,"width":"0","height":"0","passthru":true,"topic":"primaryBleedRate","format":"{{value}}","min":0,"max":"10000","step":"100","x":175,"y":2125,"wires":[["cf641b71.7d6498"]]},{"id":"e021333d.aea92","type":"ui_numeric","z":"a12209e0.000438","name":"Secundary Bleed Rate","label":"Secundary Bleed Rate","group":"dfa4948.a98f468","order":3,"width":"0","height":"0","passthru":true,"topic":"secundaryBleedRate","format":"{{value}}","min":0,"max":"10000","step":"10","x":185,"y":2227,"wires":[["b209fe21.7a12a"]]},{"id":"cf641b71.7d6498","type":"function","z":"a12209e0.000438","name":"setPrimaryBleed","func":"global.set('primaryBleed',msg.payload);","outputs":1,"noerr":0,"x":488,"y":2125,"wires":[[]]},{"id":"680f56df.e20e28","type":"function","z":"a12209e0.000438","name":"setBreakPoint","func":"global.set('breakPoint',msg.payload);","outputs":1,"noerr":0,"x":488,"y":2176,"wires":[[]]},{"id":"b209fe21.7a12a","type":"function","z":"a12209e0.000438","name":"setSecundaryBleed","func":"global.set('secundaryBleed',msg.payload);","outputs":1,"noerr":0,"x":498,"y":2227,"wires":[[]]},{"id":"ff73ad9b.6de44","type":"comment","z":"a12209e0.000438","name":"","info":"","x":118,"y":2074,"wires":[]},{"id":"8f3394d1.4f9138","type":"ui_numeric","z":"a12209e0.000438","name":"Break Point","label":"Break Point","group":"dfa4948.a98f468","order":2,"width":"0","height":"0","passthru":true,"topic":"breakPoint","format":"{{value}}","min":0,"max":"10000","step":"1000","x":155,"y":2176,"wires":[["680f56df.e20e28"]]},{"id":"69c20ee2.0a136","type":"function","z":"a12209e0.000438","name":"Valve Control Logic","func":"// get assign global variables\nvar actualPressure = Number(msg.payload);\nglobal.set('currentPresure', actualPressure);\nvar pressureValues = global.get('pressure') || {'pressure':[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]};\n// eliminate the oldest value of the array\npressureValues.pressure.shift();\n// pushing the newest value on the array\npressureValues.pressure.push(actualPressure);\n// setting back the new value to the array \nglobal.set ('pressure',pressureValues);\n\n// mean calculation\nvar pressureMean1=0;\nvar pressureMean2=0;\nfor (i=0;i<5;i++){\n pressureMean1+=pressureValues.pressure[i];\n pressureMean2+=pressureValues.pressure[i+5];\n}\npressureMean1=pressureMean1/5;\npressureMean2=pressureMean2/5;\nvar bleedRate = Math.round((pressureMean2-pressureMean1) * -60); // PSI per Minutes\n\n//setting the limits\nvar systemTolerance = 0.1; // Adjust to higher if motor is over reacting\nvar primaryRate = global.get('primaryBleedRate') || 1000; \nvar pUCL = primaryRate + (primaryRate * systemTolerance);\nvar pLCL = primaryRate - (primaryRate * systemTolerance);\nvar secondaryRate = global.get('secondaryBleedRate') || 100;\nvar sUCL = secondaryRate + (2 * secondaryRate * systemTolerance);\nvar sLCL = secondaryRate - (2 * secondaryRate * systemTolerance);\n\nvar actionOut='stay';\nvar breakPoint = global.get('bleedBreakPoint') || 1000;\nif (actualPressure>breakPoint) {\n    // Primary Bleed Rate\n    if (bleedRate > pUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < pLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n} else {\n    // Secundary Bleed Rate\n    if (bleedRate > sUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < sLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n}\n// message out\nmsg.payload={'pressure':[actualPressure,bleedRate,actionOut], 'other':[pressureMean1,pressureMean2,pLCL,pUCL,sLCL,sUCL]};\n\nreturn [msg,msg,msg];","outputs":"3","noerr":0,"x":396,"y":1870,"wires":[["ee038c49.16b9a","208e249b.4426ec"],["4aa17900.260178"],["c1218d4c.2c31a"]]},{"id":"89d4457b.5cd878","type":"ui_text","z":"a12209e0.000438","group":"da1bbeb5.79656","order":3,"width":0,"height":0,"name":"System Pressure","label":"System Pressure","format":"{{msg.payload}}","layout":"col-center","x":889,"y":1819,"wires":[]},{"id":"4ed919a1.3af088","type":"ui_text","z":"a12209e0.000438","group":"da1bbeb5.79656","order":5,"width":0,"height":0,"name":"Bleed Rate","label":"Bleed Rate","format":"{{msg.payload}}","layout":"col-center","x":869,"y":1870,"wires":[]},{"id":"208e249b.4426ec","type":"debug","z":"a12209e0.000438","name":"","active":false,"console":"false","complete":"true","x":628,"y":1734,"wires":[]},{"id":"ee038c49.16b9a","type":"function","z":"a12209e0.000438","name":"Filter Current Reading","func":"msg.payload=msg.payload.pressure[0];\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":1819,"wires":[["89d4457b.5cd878"]]},{"id":"4aa17900.260178","type":"function","z":"a12209e0.000438","name":"Filter Bleed Rate","func":"msg.payload=msg.payload.pressure[1];\nreturn msg;","outputs":1,"noerr":0,"x":651,"y":1870,"wires":[["4ed919a1.3af088"]]},{"id":"6e714023.ee6a9","type":"ui_text","z":"a12209e0.000438","group":"da1bbeb5.79656","order":6,"width":0,"height":0,"name":"Action","label":"Action","format":"{{msg.payload}}","layout":"col-center","x":849,"y":1921,"wires":[]},{"id":"c1218d4c.2c31a","type":"function","z":"a12209e0.000438","name":"Filter Action","func":"msg.payload=msg.payload.pressure[2];\nreturn msg;","outputs":1,"noerr":0,"x":631,"y":1921,"wires":[["6e714023.ee6a9"]]},{"id":"ca8f731e.23db3","type":"inject","z":"a12209e0.000438","name":"Start Variables","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":148,"y":2448,"wires":[["b1c6239b.7a559","b382a22b.9b0a9","ccab0dcf.adec3"]]},{"id":"b1c6239b.7a559","type":"function","z":"a12209e0.000438","name":"Get Primary Bleed Rate","func":"var primaryBleedRate = global.get('primaryBleedRate') || 1000;\nmsg.payload=primaryBleedRate;\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":2448,"wires":[["65b8d5c7.15012c"]]},{"id":"20616c59.c04744","type":"comment","z":"a12209e0.000438","name":"Initialize Global Variables","info":"","x":178,"y":2397,"wires":[]},{"id":"faa0b8f8.88ee68","type":"function","z":"a12209e0.000438","name":"Set Primary Bleed Rate","func":"global.set('primaryBleedRate',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":892,"y":2448,"wires":[["ea64fa8e.656e98"]]},{"id":"b382a22b.9b0a9","type":"function","z":"a12209e0.000438","name":"Get Secondary Bleed Rate","func":"var secondaryBleedRate = global.get('secondaryBleedRate') || 100;\nmsg.payload=secondaryBleedRate;\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":2550,"wires":[["dac1debb.1ba14"]]},{"id":"dac1debb.1ba14","type":"ui_slider","z":"a12209e0.000438","name":"Secondary Bleed Rate","label":"","group":"a11d9528.a79978","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":"25","max":"1000","step":"25","x":678,"y":2550,"wires":[["84629bf1.80fab8"]]},{"id":"84629bf1.80fab8","type":"function","z":"a12209e0.000438","name":"Set Secondary Bleed Rate","func":"global.set('secondaryBleedRate',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":2550,"wires":[["4abc28c3.572608"]]},{"id":"4abc28c3.572608","type":"ui_text","z":"a12209e0.000438","group":"a11d9528.a79978","order":5,"width":0,"height":0,"name":"Secondary Bleed Rate lbl","label":"Secondary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1198,"y":2550,"wires":[]},{"id":"ccab0dcf.adec3","type":"function","z":"a12209e0.000438","name":"Get Bleed Break Point","func":"var bleedBreakPoint = global.get('bleedBreakPoint') || 1000;\nmsg.payload=bleedBreakPoint;\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":2499,"wires":[["9b5f1587.0045b8"]]},{"id":"9b5f1587.0045b8","type":"ui_slider","z":"a12209e0.000438","name":"Bleed Break Point","label":"","group":"a11d9528.a79978","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"10000","step":"500","x":634,"y":2499,"wires":[["43324885.bfc818"]]},{"id":"43324885.bfc818","type":"function","z":"a12209e0.000438","name":"Set Bleed Break Point","func":"global.set('bleedBreakPoint',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":2499,"wires":[["6776cd7a.b151a4"]]},{"id":"6776cd7a.b151a4","type":"ui_text","z":"a12209e0.000438","group":"a11d9528.a79978","order":3,"width":0,"height":0,"name":"Bleed Break Point lbl","label":"Bleed Break Point","format":"{{msg.payload}} lbs","layout":"col-center","x":1103,"y":2499,"wires":[]},{"id":"ea64fa8e.656e98","type":"ui_text","z":"a12209e0.000438","group":"a11d9528.a79978","order":1,"width":0,"height":0,"name":"Primary Bleed Rate lbl","label":"Primary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1137,"y":2448,"wires":[]},{"id":"65b8d5c7.15012c","type":"ui_slider","z":"a12209e0.000438","name":"Primary Bleed Rate","label":"","group":"a11d9528.a79978","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"250","max":"10000","step":"250","x":651,"y":2448,"wires":[["faa0b8f8.88ee68"]]},{"id":"fea80cf1.9af7c","type":"ui_template","z":"a12209e0.000438","group":"30e12ee8.1044d2","name":"OPEN","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    OPEN\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":458,"y":1462,"wires":[[]]},{"id":"7e68e229.f52d1c","type":"comment","z":"a12209e0.000438","name":"Control Sequence","info":"","x":464,"y":1411,"wires":[]},{"id":"80bd7002.dc3ba","type":"ui_template","z":"a12209e0.000438","group":"30e12ee8.1044d2","name":"CANCEL","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CANCEL\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":468,"y":1513,"wires":[[]]}]
