roanv_nodered.txt
[{"id":"ac69b3eb.4f59a","type":"tab","label":"MonitorSystem","disabled":false,"info":"// MonitorSystem\r\n\r\n// NodeRed Flow that monitors and control\r\n// ROANV Remote Operated Automated Needle Valve\r\n// project made for Global Manufacturing Team\r\n// Houston, TX, USA, 2018 Jan 8th\r\n\r\n// Written by: Miguel R. Lopez"},{"id":"c8ff9b61.079258","type":"Analog Input","z":"ac69b3eb.4f59a","name":"Pressure Transducer","sensorType":"4-20mA","resolution":"15_Bit_signed","selectedProcess":"Scaled","low":"0","high":"1000","precision":"3","x":500,"y":80,"wires":[["e2ee91f2.81eb2"]]},{"id":"93138a71.b36e08","type":"function","z":"ac69b3eb.4f59a","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":290.0000114440918,"y":395.00001525878906,"wires":[["8240bb0c.0a1058"],["1d18e85f.455f48"],["bddf4f1e.a4461"],["94f9d492.afa4e8"],["1f563f5d.bd2681"],["94ab0080.c128b"],["47be5783.b0ab08"],["5c2e365.1c821c8"]]},{"id":"8240bb0c.0a1058","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_00_close","label":"CLOSE","group":"f1b5674b.bd2d78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":160,"wires":[["25d7a863.31a278"]]},{"id":"bddf4f1e.a4461","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_02_manual","label":"MANUAL","group":"f1b5674b.bd2d78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":580,"y":280,"wires":[["e9ab9430.760078"]]},{"id":"1d18e85f.455f48","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_01_open","label":"OPEN","group":"f1b5674b.bd2d78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":220,"wires":[["e9ab9430.760078"]]},{"id":"94f9d492.afa4e8","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_03_auto","label":"AUTO","group":"f1b5674b.bd2d78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":340,"wires":[["e9ab9430.760078"]]},{"id":"1f563f5d.bd2681","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_04","label":"DI_04_lbl","group":"f1b5674b.bd2d78","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":400,"wires":[[]]},{"id":"47be5783.b0ab08","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_06_Ready","label":"Ready","group":"f1b5674b.bd2d78","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":580,"y":520,"wires":[["ff9be132.86999"]]},{"id":"94ab0080.c128b","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_05_HomePosition","label":"In Home Position","group":"f1b5674b.bd2d78","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":600,"y":460,"wires":[[]]},{"id":"5c2e365.1c821c8","type":"ui_switch","z":"ac69b3eb.4f59a","name":"DI_07_Alarm","label":"Alarm","group":"f1b5674b.bd2d78","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":580,"wires":[["fd019eb1.ab2ae"]]},{"id":"c5ce7800.849368","type":"comment","z":"ac69b3eb.4f59a","name":"Analog Input","info":"","x":90,"y":40,"wires":[]},{"id":"f7d80141.677e3","type":"comment","z":"ac69b3eb.4f59a","name":"Digital Inputs","info":"","x":86,"y":161,"wires":[]},{"id":"113d6ed1.141471","type":"comment","z":"ac69b3eb.4f59a","name":"Steps Configuration","info":"","x":114.00000762939453,"y":637.000036239624,"wires":[]},{"id":"d0836036.27bc","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Driver M1","label":"Drv_M1","group":"a0c8ae9c.9b1fb","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1142.0002975463867,"y":200.00000381469727,"wires":[["b4289201.82298","a95118c3.bf6038"]]},{"id":"ff9be132.86999","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Ready Light ","label":"READY","group":"a0c8ae9c.9b1fb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":520,"wires":[["fb9b4705.3237a8"]]},{"id":"bbe6c74d.99f718","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Driver M0","label":"Drv_M0","group":"a0c8ae9c.9b1fb","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":680,"wires":[["91e79770.856298"]]},{"id":"7a9e9a04.acc3b4","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Driver M2","label":"Drv_M2","group":"a0c8ae9c.9b1fb","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":800,"wires":[["22cb43fe.2168bc"]]},{"id":"98ad62b1.60a4c","type":"ui_switch","z":"ac69b3eb.4f59a","name":"Alarm Light","label":"ALARM","group":"a0c8ae9c.9b1fb","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":890,"y":580,"wires":[["2ba2d541.b66c9a"]]},{"id":"fb62b1d5.95fb3","type":"modbus-read","z":"ac69b3eb.4f59a","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":130,"y":220,"wires":[["93138a71.b36e08"],[]]},{"id":"6bd7ab68.b362d4","type":"modbus-read","z":"ac69b3eb.4f59a","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":130,"y":80,"wires":[["c8ff9b61.079258"],[]]},{"id":"fb9b4705.3237a8","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"66859124.60626","x":1000,"y":520,"wires":[[],[]]},{"id":"2ba2d541.b66c9a","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"66859124.60626","x":1120,"y":580,"wires":[[],[]]},{"id":"d6571c6b.f52ba","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"66859124.60626","x":1330,"y":420,"wires":[[],[]]},{"id":"91e79770.856298","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":270,"y":680,"wires":[[],[]]},{"id":"b4289201.82298","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1415.000202178955,"y":134.00001621246338,"wires":[[],[]]},{"id":"22cb43fe.2168bc","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":260,"y":800,"wires":[[],[]]},{"id":"d9d532cd.010c5","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1540.0009841918945,"y":238.00012493133545,"wires":[[],[]]},{"id":"543f88b8.e643a8","type":"modbus-write","z":"ac69b3eb.4f59a","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"66859124.60626","x":940,"y":160,"wires":[[],[]]},{"id":"e2ee91f2.81eb2","type":"ui_gauge","z":"ac69b3eb.4f59a","name":"SYSTEM PRESSURE","group":"f1b5674b.bd2d78","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":80,"wires":[]},{"id":"fd019eb1.ab2ae","type":"function","z":"ac69b3eb.4f59a","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":580,"wires":[["98ad62b1.60a4c"]]},{"id":"a95118c3.bf6038","type":"ui_template","z":"ac69b3eb.4f59a","group":"a0c8ae9c.9b1fb","name":"Start","order":7,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    START\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1332.0010986328125,"y":223.0001392364502,"wires":[["d9d532cd.010c5"]]},{"id":"6fb887d.d609778","type":"ui_template","z":"ac69b3eb.4f59a","group":"a0c8ae9c.9b1fb","name":"RESET ALARM","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1099.0000457763672,"y":419.00000047683716,"wires":[["d6571c6b.f52ba"]]},{"id":"25d7a863.31a278","type":"ui_template","z":"ac69b3eb.4f59a","group":"a0c8ae9c.9b1fb","name":"Z-Home","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":160,"wires":[["543f88b8.e643a8"]]},{"id":"e9ab9430.760078","type":"function","z":"ac69b3eb.4f59a","name":"PassWhenOpenPressed","func":"// declare 3 global variables\ncontext.bOpen = context.bOpen || false;\ncontext.bManual = context.bManual || false;\ncontext.bAuto = context.bAuto || false;\n\n// asign value to global variale based on topic\nif (msg.topic==='open'){\n    context.bOpen=msg.payload;\n} else if (msg.topic==='manual'){\n    context.bManual=msg.payload;\n} else if (msg.topic==='auto'){\n    context.bAuto=msg.payload;\n}\n\nif (context.bManual && context.bOpen){\n    \n    return [{topic:'Manual-Open',payload:true}, null, null];\n} else if (context.bAuto && context.bOpen){\n    return[null, {topic:'Auto-Open',payload:true}, null];\n} else if (context.bOpen && !context.bManual && !context.bAuto) {\n    return[null, null,{topic:'Alarm-Reset',payload:true}];\n} else {\n    return {payload:false};\n}\n\n","outputs":"3","noerr":0,"x":830,"y":280,"wires":[["d0836036.27bc"],["984bbd84.6e247"],["6fb887d.d609778"]],"outputLabels":["Manual-Open","Auto-Opem","Alarm-Reset"]},{"id":"984bbd84.6e247","type":"debug","z":"ac69b3eb.4f59a","name":"","active":false,"console":"false","complete":"false","x":1109.3001556396484,"y":311.80001640319824,"wires":[]},{"id":"f1b5674b.bd2d78","type":"ui_group","z":"","name":"Inputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"a0c8ae9c.9b1fb","type":"ui_group","z":"","name":"Outputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"66859124.60626","type":"modbus-client","z":"","name":"Wago750-352","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"604e6e83.2c6d5","type":"ui_tab","z":"","name":"Maintenance","icon":"dashboard","order":2}]
