roanv_nodered.txt
[{"id":"a12209e0.000438","type":"tab","label":"ControlSystem","disabled":true,"info":"// MonitorSystem\r\n\r\n// NodeRed Flow that monitors and control\r\n// ROANV Remote Operated Automated Needle Valve\r\n// project made for Global Manufacturing Team\r\n// Houston, TX, USA, 2018 Jan 8th\r\n\r\n// Written by: Miguel R. Lopez"},{"id":"e4339ded.6c6cd","type":"tab","label":"Auto Mode","disabled":false,"info":""},{"id":"83cecb6.9175138","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#420084","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#420084","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6800d0","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#420084","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}}},"site":{"name":"ROANV Main Page","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":12,"gy":12,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"604e6e83.2c6d5","type":"ui_tab","z":"","name":"Maintenance","icon":"dashboard","order":3},{"id":"66859124.60626","type":"modbus-client","z":"","name":"Wago750-352","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"f1b5674b.bd2d78","type":"ui_group","z":"","name":"Inputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"a0c8ae9c.9b1fb","type":"ui_group","z":"","name":"Outputs","tab":"604e6e83.2c6d5","disp":true,"width":"6"},{"id":"da1bbeb5.79656","type":"ui_group","z":"","name":"System Status","tab":"3da218f9.67d898","order":1,"disp":true,"width":"6"},{"id":"478c96d0.6d8eb8","type":"ui_link","z":"","name":"By: Miguel Lopez","link":"http://www.miguelruben.com","icon":"open_in_browser","target":"newtab","order":5},{"id":"3da218f9.67d898","type":"ui_tab","z":"","name":"Auto Mode","icon":"dashboard","order":1},{"id":"a11d9528.a79978","type":"ui_group","z":"","name":"Setup","tab":"3da218f9.67d898","order":3,"disp":true,"width":"6"},{"id":"30e12ee8.1044d2","type":"ui_group","z":"","name":"Controls","tab":"3da218f9.67d898","order":2,"disp":true,"width":"6"},{"id":"e3189d68.50afd","type":"Analog Input","z":"a12209e0.000438","name":"Pressure Transducer","sensorType":"4-20mA","resolution":"15_Bit_signed","selectedProcess":"Scaled","low":"0","high":"1000","precision":"3","x":432,"y":2055,"wires":[["2f6fbf1e.3abdd","a26c36b5.c7cdc8","69c20ee2.0a136"]]},{"id":"fa7d1147.e4001","type":"function","z":"a12209e0.000438","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":389,"y":391,"wires":[["1e03b413.6c0d9c"],["6f0ae197.705bc"],["1a572e95.1cf961"],["6f5f803a.7dcac"],["5398cc9a.18e7e4"],["ca026edb.9130a"],["ab6749a0.0fd048"],["aa08b127.aca63"]]},{"id":"1e03b413.6c0d9c","type":"ui_switch","z":"a12209e0.000438","name":"DI_00_close","label":"CLOSE","group":"f1b5674b.bd2d78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":614,"y":221,"wires":[["7298e0ca.d03b9"]]},{"id":"1a572e95.1cf961","type":"ui_switch","z":"a12209e0.000438","name":"DI_02_manual","label":"MANUAL","group":"f1b5674b.bd2d78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":658,"y":323,"wires":[["bf3e75cc.d748c8"]]},{"id":"6f0ae197.705bc","type":"ui_switch","z":"a12209e0.000438","name":"DI_01_open","label":"OPEN","group":"f1b5674b.bd2d78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":631,"y":272,"wires":[["6cba2717.bf4e78"]]},{"id":"6f5f803a.7dcac","type":"ui_switch","z":"a12209e0.000438","name":"DI_03_auto","label":"AUTO","group":"f1b5674b.bd2d78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":665,"y":374,"wires":[["3d602596.dcdf5a"]]},{"id":"5398cc9a.18e7e4","type":"ui_switch","z":"a12209e0.000438","name":"DI_04","label":"DI_04_lbl","group":"f1b5674b.bd2d78","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":645,"y":425,"wires":[[]]},{"id":"ab6749a0.0fd048","type":"ui_switch","z":"a12209e0.000438","name":"DI_06_Ready","label":"Ready","group":"f1b5674b.bd2d78","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":641,"y":527,"wires":[["136d4d2a.6ce773"]]},{"id":"ca026edb.9130a","type":"ui_switch","z":"a12209e0.000438","name":"DI_05_HomePosition","label":"In Home Position","group":"f1b5674b.bd2d78","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":678,"y":476,"wires":[[]]},{"id":"aa08b127.aca63","type":"ui_switch","z":"a12209e0.000438","name":"DI_07_Alarm","label":"Alarm","group":"f1b5674b.bd2d78","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":614,"y":578,"wires":[["7eeed6ac.049d18"]]},{"id":"c9b98de4.74744","type":"comment","z":"a12209e0.000438","name":"Analog Input","info":"","x":137.99999237060547,"y":1986.9999752044678,"wires":[]},{"id":"e0232a.1cc38cd8","type":"comment","z":"a12209e0.000438","name":"Digital Inputs","info":"","x":121,"y":153,"wires":[]},{"id":"dcf2a28f.05948","type":"comment","z":"a12209e0.000438","name":"Valve Operation","info":"","x":144,"y":580.0000152587891,"wires":[]},{"id":"8ce6bf13.561d3","type":"ui_switch","z":"a12209e0.000438","name":"Driver M1","label":"Drv_M1","group":"a0c8ae9c.9b1fb","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":808,"y":969,"wires":[["dbb32c2c.f4e0c"]]},{"id":"136d4d2a.6ce773","type":"ui_switch","z":"a12209e0.000438","name":"Ready Light ","label":"READY","group":"da1bbeb5.79656","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":852,"y":527,"wires":[["75f1c91f.adad38"]]},{"id":"dfe8ef2f.41516","type":"ui_switch","z":"a12209e0.000438","name":"Driver M0","label":"Drv_M0","group":"a0c8ae9c.9b1fb","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":808,"y":918,"wires":[["c9535269.519be"]]},{"id":"dc8589e8.d64618","type":"ui_switch","z":"a12209e0.000438","name":"Driver M2","label":"Drv_M2","group":"a0c8ae9c.9b1fb","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"DriverM2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":808,"y":1020,"wires":[["85157ac.2a60b88"]]},{"id":"b457de5.91f222","type":"ui_switch","z":"a12209e0.000438","name":"Alarm Light","label":"ALARM","group":"a0c8ae9c.9b1fb","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":920,"y":578,"wires":[["bac415a4.84caa8"]]},{"id":"feb87c1e.052b8","type":"modbus-read","z":"a12209e0.000438","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":141,"y":204,"wires":[["fa7d1147.e4001"],[]]},{"id":"89633dc.3dcbbc","type":"modbus-read","z":"a12209e0.000438","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":190,"y":2060,"wires":[["e3189d68.50afd"],[]]},{"id":"75f1c91f.adad38","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"66859124.60626","x":1174,"y":527,"wires":[[],[]]},{"id":"bac415a4.84caa8","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"66859124.60626","x":1174,"y":578,"wires":[[],[]]},{"id":"c9535269.519be","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":1110,"y":918,"wires":[[],[]]},{"id":"dbb32c2c.f4e0c","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1110,"y":969,"wires":[[],[]]},{"id":"85157ac.2a60b88","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1100,"y":1020,"wires":[[],[]]},{"id":"49d53bc5.6a1b54","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1154,"y":765,"wires":[[],[]]},{"id":"dee587.ba490a78","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"66859124.60626","x":1154,"y":221,"wires":[[],[]]},{"id":"2f6fbf1e.3abdd","type":"ui_gauge","z":"a12209e0.000438","name":"SYSTEM PRESSURE","group":"f1b5674b.bd2d78","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":721,"y":2089,"wires":[]},{"id":"7eeed6ac.049d18","type":"function","z":"a12209e0.000438","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":764,"y":578,"wires":[["b457de5.91f222"]]},{"id":"b5227346.8860c","type":"ui_template","z":"a12209e0.000438","group":"a0c8ae9c.9b1fb","name":"Start","order":9,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    START\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":866,"y":714,"wires":[["49d53bc5.6a1b54"]]},{"id":"be332aed.77ec78","type":"ui_template","z":"a12209e0.000438","group":"a0c8ae9c.9b1fb","name":"RESET ALARM","order":4,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":233,"y":782,"wires":[["3f63ca06.ae6646"]]},{"id":"7298e0ca.d03b9","type":"ui_template","z":"a12209e0.000438","group":"a0c8ae9c.9b1fb","name":"Z-Home","order":11,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":221,"wires":[["dee587.ba490a78"]]},{"id":"bf3e75cc.d748c8","type":"function","z":"a12209e0.000438","name":"setManualSwState","func":"flow.set(\"isManual\",msg.payload);","outputs":1,"noerr":0,"x":889,"y":323,"wires":[[]]},{"id":"3d602596.dcdf5a","type":"function","z":"a12209e0.000438","name":"setAutoSwState","func":"flow.set(\"isAuto\",msg.payload);","outputs":1,"noerr":0,"x":879,"y":374,"wires":[[]]},{"id":"a26c36b5.c7cdc8","type":"function","z":"a12209e0.000438","name":"setSystemPressure","func":"flow.set('systemPressure',msg.payload);","outputs":1,"noerr":0,"x":711,"y":2038,"wires":[[]]},{"id":"6cba2717.bf4e78","type":"link out","z":"a12209e0.000438","name":"ValveOperation","links":["57b87684.240b08"],"x":780,"y":272,"wires":[]},{"id":"57b87684.240b08","type":"link in","z":"a12209e0.000438","name":"Valve","links":["6cba2717.bf4e78"],"x":117,"y":697,"wires":[["7eacd766.cd90a8"]]},{"id":"7eacd766.cd90a8","type":"function","z":"a12209e0.000438","name":"Valve Control","func":"var Auto = flow.get ('isAuto');\nvar Manual = flow.get('isManual');\n\nif (Auto===true && msg.payload===true){\n    msg.payload='Auto';\n    return [msg,null,null];\n} else if (Manual===true && msg.payload===true){\n    msg.payload=true;\n    return [null,msg,null];\n} else if (Auto===false && Manual===false && msg.payload===true){\n    msg.payload=false;\n    return [null,null,msg];\n} else {\n    return [null,null,null];\n}","outputs":"3","noerr":0,"x":240,"y":697,"wires":[["937893da.5ad4c"],["8d8b39c2.981578"],["3f63ca06.ae6646"]],"outputLabels":["Auto","Manual","Reset Alarm"]},{"id":"6efc5dd.6c066a4","type":"function","z":"a12209e0.000438","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":696,"y":1122,"wires":[["9421d061.778c4","c451683.06b7798"]]},{"id":"9421d061.778c4","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"66859124.60626","x":1244.0000381469727,"y":1140.0000648498535,"wires":[[],[]]},{"id":"eda5e55d.1d6c28","type":"comment","z":"a12209e0.000438","name":"Valve Operation","info":"","x":913,"y":272,"wires":[]},{"id":"f1d1bf65.a8e4e","type":"comment","z":"a12209e0.000438","name":"Reset Alarm","info":"","x":444,"y":1122,"wires":[]},{"id":"3f63ca06.ae6646","type":"link out","z":"a12209e0.000438","name":"resetAlarm","links":["cbab2673.c960c8"],"x":389,"y":748,"wires":[]},{"id":"cbab2673.c960c8","type":"link in","z":"a12209e0.000438","name":"","links":["3f63ca06.ae6646"],"x":542,"y":1122,"wires":[["6efc5dd.6c066a4","dfe8ef2f.41516","8ce6bf13.561d3","dc8589e8.d64618"]]},{"id":"c451683.06b7798","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850.0000305175781,"y":1156.9999494552612,"wires":[["329e5ac3.53ab36"]]},{"id":"329e5ac3.53ab36","type":"function","z":"a12209e0.000438","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":957.0000228881836,"y":1214.9999370574951,"wires":[["9421d061.778c4","eca915ab.615d78"]]},{"id":"d7e5b9c3.c6fd08","type":"modbus-read","z":"a12209e0.000438","name":"Read Digital Output","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"512","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":175,"y":901,"wires":[["83794ff0.8561d"],[]]},{"id":"83794ff0.8561d","type":"function","z":"a12209e0.000438","name":"Reading Wago Outputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":450,"y":986,"wires":[[],["dfe8ef2f.41516"],["8ce6bf13.561d3"],["dc8589e8.d64618"],[],[],[],[]]},{"id":"e1175287.ecdf6","type":"comment","z":"a12209e0.000438","name":"Reset Alarm & Close Valve","info":"","x":518,"y":748,"wires":[]},{"id":"f37501f9.3cbdc","type":"link out","z":"a12209e0.000438","name":"closeValve","links":["eabbc0f.0d52a4"],"x":1356.0000305175781,"y":1217.9999799728394,"wires":[]},{"id":"eabbc0f.0d52a4","type":"link in","z":"a12209e0.000438","name":"","links":["f37501f9.3cbdc"],"x":797,"y":170,"wires":[["7298e0ca.d03b9"]]},{"id":"2d4c6b3f.abc274","type":"comment","z":"a12209e0.000438","name":"Close Valve","info":"","x":699,"y":170,"wires":[]},{"id":"3eeecf62.794b6","type":"comment","z":"a12209e0.000438","name":"Close Valve","info":"","x":1445.0000305175781,"y":1217.9999799728394,"wires":[]},{"id":"eca915ab.615d78","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1124.0000114440918,"y":1218.0000581741333,"wires":[["6a236e36.5022"]]},{"id":"6a236e36.5022","type":"function","z":"a12209e0.000438","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":1272.0000305175781,"y":1251.9999799728394,"wires":[["f37501f9.3cbdc"]]},{"id":"8d8b39c2.981578","type":"link out","z":"a12209e0.000438","name":"manualOperation","links":["bf445666.8dc7c8"],"x":389,"y":697,"wires":[]},{"id":"b7ea8295.b9478","type":"comment","z":"a12209e0.000438","name":"Manual Operation","info":"","x":498,"y":697,"wires":[]},{"id":"bf445666.8dc7c8","type":"link in","z":"a12209e0.000438","name":"","links":["8d8b39c2.981578"],"x":542,"y":850,"wires":[["acbdf43f.ac0ea8","8ce6bf13.561d3"]]},{"id":"99a23f86.080f7","type":"comment","z":"a12209e0.000438","name":"Manual Operation","info":"","x":430,"y":850,"wires":[]},{"id":"937893da.5ad4c","type":"link out","z":"a12209e0.000438","name":"autoOperation","links":["75433de2.44fc94"],"x":389,"y":646,"wires":[]},{"id":"a097b3f6.7834a","type":"comment","z":"a12209e0.000438","name":"Auto Operation","info":"","x":196.99998474121094,"y":1351.999912261963,"wires":[]},{"id":"acbdf43f.ac0ea8","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":765,"wires":[["49d53bc5.6a1b54","c64f4b87.129e58"]]},{"id":"c64f4b87.129e58","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":801,"y":850,"wires":[["92d3085.6cceaf8"]]},{"id":"92d3085.6cceaf8","type":"function","z":"a12209e0.000438","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":816,"wires":[["49d53bc5.6a1b54"]]},{"id":"75433de2.44fc94","type":"link in","z":"a12209e0.000438","name":"","links":["937893da.5ad4c"],"x":133.99999237060547,"y":1414.999966621399,"wires":[["cf520df6.2602e","689b9573.573b5c"]]},{"id":"661fcb29.03a544","type":"comment","z":"a12209e0.000438","name":"Auto Operation","info":"","x":488,"y":646,"wires":[]},{"id":"69c20ee2.0a136","type":"function","z":"a12209e0.000438","name":"Valve Control Logic","func":"// get assign global variables\nvar actualPressure = Number(msg.payload);\nglobal.set('currentPresure', actualPressure);\nvar pressureValues = global.get('pressure') || {'pressure':[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]};\n// eliminate the oldest value of the array\npressureValues.pressure.shift();\n// pushing the newest value on the array\npressureValues.pressure.push(actualPressure);\n// setting back the new value to the array \nglobal.set ('pressure',pressureValues);\n\n// mean calculation\nvar pressureMean1=0;\nvar pressureMean2=0;\nfor (i=0;i<5;i++){\n pressureMean1+=pressureValues.pressure[i];\n pressureMean2+=pressureValues.pressure[i+5];\n}\npressureMean1=pressureMean1/5;\npressureMean2=pressureMean2/5;\nvar bleedRate = Math.round((pressureMean2-pressureMean1) * -60); // PSI per Minutes\n\n//setting the limits\nvar systemTolerance = 0.1; // Adjust to higher if motor is over reacting\nvar primaryRate = global.get('primaryBleedRate') || 1000; \nvar pUCL = primaryRate + (primaryRate * systemTolerance);\nvar pLCL = primaryRate - (primaryRate * systemTolerance);\nvar secondaryRate = global.get('secondaryBleedRate') || 100;\nvar sUCL = secondaryRate + (2 * secondaryRate * systemTolerance);\nvar sLCL = secondaryRate - (2 * secondaryRate * systemTolerance);\n\nvar actionOut='stay';\nvar breakPoint = global.get('bleedBreakPoint') || 1000;\nif (actualPressure>breakPoint) {\n    // Primary Bleed Rate\n    if (bleedRate > pUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < pLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n} else {\n    // Secundary Bleed Rate\n    if (bleedRate > sUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < sLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n}\n// message out\nmsg.payload={'pressure':[actualPressure,bleedRate,actionOut], 'other':[pressureMean1,pressureMean2,pLCL,pUCL,sLCL,sUCL]};\n\nreturn [msg,msg,msg];","outputs":"3","noerr":0,"x":731.9999694824219,"y":2173.9998865127563,"wires":[["ee038c49.16b9a","208e249b.4426ec"],["4aa17900.260178"],["c1218d4c.2c31a"]]},{"id":"89d4457b.5cd878","type":"ui_text","z":"a12209e0.000438","group":"da1bbeb5.79656","order":1,"width":0,"height":0,"name":"System Pressure","label":"System Pressure","format":"{{msg.payload}}","layout":"col-center","x":1224.9999694824219,"y":2122.9998865127563,"wires":[]},{"id":"4ed919a1.3af088","type":"ui_text","z":"a12209e0.000438","group":"da1bbeb5.79656","order":3,"width":0,"height":0,"name":"Bleed Rate","label":"Bleed Rate","format":"{{msg.payload}}","layout":"col-center","x":1204.9999694824219,"y":2173.9998865127563,"wires":[]},{"id":"208e249b.4426ec","type":"debug","z":"a12209e0.000438","name":"","active":false,"console":"false","complete":"true","x":963.9999694824219,"y":2037.9998865127563,"wires":[]},{"id":"ee038c49.16b9a","type":"function","z":"a12209e0.000438","name":"Filter Current Reading","func":"msg.payload=msg.payload.pressure[0];\nreturn msg;","outputs":1,"noerr":0,"x":996.9999694824219,"y":2122.9998865127563,"wires":[["89d4457b.5cd878"]]},{"id":"4aa17900.260178","type":"function","z":"a12209e0.000438","name":"Filter Bleed Rate","func":"msg.payload=msg.payload.pressure[1];\nreturn msg;","outputs":1,"noerr":0,"x":986.9999694824219,"y":2173.9998865127563,"wires":[["4ed919a1.3af088"]]},{"id":"6e714023.ee6a9","type":"ui_text","z":"a12209e0.000438","group":"da1bbeb5.79656","order":5,"width":0,"height":0,"name":"Action","label":"Action","format":"{{msg.payload}}","layout":"col-center","x":1184.9999694824219,"y":2224.9998865127563,"wires":[]},{"id":"c1218d4c.2c31a","type":"function","z":"a12209e0.000438","name":"Filter Action","func":"msg.payload=msg.payload.pressure[2];\nglobal.set ('action', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":966.9999694824219,"y":2224.9998865127563,"wires":[["6e714023.ee6a9"]]},{"id":"ca8f731e.23db3","type":"inject","z":"a12209e0.000438","name":"Start Variables","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":180,"y":2340,"wires":[["b1c6239b.7a559","b382a22b.9b0a9","ccab0dcf.adec3"]]},{"id":"b1c6239b.7a559","type":"function","z":"a12209e0.000438","name":"Get Primary Bleed Rate","func":"var primaryBleedRate = global.get('primaryBleedRate') || 1000;\nmsg.payload=primaryBleedRate;\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":2340,"wires":[["65b8d5c7.15012c"]]},{"id":"20616c59.c04744","type":"comment","z":"a12209e0.000438","name":"Initialize Global Variables","info":"","x":178.99996948242188,"y":2276.9993591308594,"wires":[]},{"id":"faa0b8f8.88ee68","type":"function","z":"a12209e0.000438","name":"Set Primary Bleed Rate","func":"global.set('primaryBleedRate',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":924,"y":2340,"wires":[["ea64fa8e.656e98"]]},{"id":"b382a22b.9b0a9","type":"function","z":"a12209e0.000438","name":"Get Secondary Bleed Rate","func":"var secondaryBleedRate = global.get('secondaryBleedRate') || 100;\nmsg.payload=secondaryBleedRate;\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":2442,"wires":[["dac1debb.1ba14"]]},{"id":"dac1debb.1ba14","type":"ui_slider","z":"a12209e0.000438","name":"Secondary Bleed Rate","label":"","group":"a11d9528.a79978","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":"25","max":"1000","step":"25","x":710,"y":2442,"wires":[["84629bf1.80fab8"]]},{"id":"84629bf1.80fab8","type":"function","z":"a12209e0.000438","name":"Set Secondary Bleed Rate","func":"global.set('secondaryBleedRate',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":968,"y":2442,"wires":[["4abc28c3.572608"]]},{"id":"4abc28c3.572608","type":"ui_text","z":"a12209e0.000438","group":"a11d9528.a79978","order":5,"width":0,"height":0,"name":"Secondary Bleed Rate lbl","label":"Secondary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1230,"y":2442,"wires":[]},{"id":"ccab0dcf.adec3","type":"function","z":"a12209e0.000438","name":"Get Bleed Break Point","func":"var bleedBreakPoint = global.get('bleedBreakPoint') || 1000;\nmsg.payload=bleedBreakPoint;\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":2391,"wires":[["9b5f1587.0045b8"]]},{"id":"9b5f1587.0045b8","type":"ui_slider","z":"a12209e0.000438","name":"Bleed Break Point","label":"","group":"a11d9528.a79978","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"10000","step":"500","x":666,"y":2391,"wires":[["43324885.bfc818"]]},{"id":"43324885.bfc818","type":"function","z":"a12209e0.000438","name":"Set Bleed Break Point","func":"global.set('bleedBreakPoint',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":897,"y":2391,"wires":[["6776cd7a.b151a4"]]},{"id":"6776cd7a.b151a4","type":"ui_text","z":"a12209e0.000438","group":"a11d9528.a79978","order":3,"width":0,"height":0,"name":"Bleed Break Point lbl","label":"Bleed Break Point","format":"{{msg.payload}} lbs","layout":"col-center","x":1135,"y":2391,"wires":[]},{"id":"ea64fa8e.656e98","type":"ui_text","z":"a12209e0.000438","group":"a11d9528.a79978","order":1,"width":0,"height":0,"name":"Primary Bleed Rate lbl","label":"Primary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1169,"y":2340,"wires":[]},{"id":"65b8d5c7.15012c","type":"ui_slider","z":"a12209e0.000438","name":"Primary Bleed Rate","label":"","group":"a11d9528.a79978","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"250","max":"10000","step":"250","x":683,"y":2340,"wires":[["faa0b8f8.88ee68"]]},{"id":"fea80cf1.9af7c","type":"ui_template","z":"a12209e0.000438","group":"30e12ee8.1044d2","name":"AUTO-OPEN","order":1,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    OPEN\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":269.99985122680664,"y":1224.999828338623,"wires":[[]]},{"id":"7e68e229.f52d1c","type":"comment","z":"a12209e0.000438","name":"Control Sequence","info":"","x":179,"y":1197.999966621399,"wires":[]},{"id":"80bd7002.dc3ba","type":"ui_template","z":"a12209e0.000438","group":"30e12ee8.1044d2","name":"AUTO-CANCEL","order":2,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CANCEL\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":285.99979400634766,"y":1273.9996175765991,"wires":[[]]},{"id":"cf520df6.2602e","type":"function","z":"a12209e0.000438","name":"Act on Auto Mode","func":"var action = global.get ('action') || 'stay';\nmsg.payload = true;\nif (action==='close') {\n    return [msg,null];\n} else if (action==='open') {\n    return[null,msg];\n} else {\n    return [null,null];\n}","outputs":"2","noerr":0,"x":346.9124984741211,"y":1392.9562549591064,"wires":[["b7a44741.a479e8","1c55785c.196d08"],["e6f14b02.5d0188"]]},{"id":"b7a44741.a479e8","type":"debug","z":"a12209e0.000438","name":"","active":true,"console":"false","complete":"false","x":604.9185333251953,"y":1307.3374118804932,"wires":[]},{"id":"689b9573.573b5c","type":"function","z":"a12209e0.000438","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":275.0186767578125,"y":1719.4245653152466,"wires":[["c7350019.1c685","29d9ed35.4c1362"]]},{"id":"1c55785c.196d08","type":"function","z":"a12209e0.000438","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":565.0186424255371,"y":1417.4246788024902,"wires":[["4c8ea3a3.2c1adc"]]},{"id":"99a6c3b7.b20f9","type":"debug","z":"a12209e0.000438","name":"","active":true,"console":"false","complete":"false","x":1245.9248352050781,"y":1440.7431259155273,"wires":[]},{"id":"e6f14b02.5d0188","type":"function","z":"a12209e0.000438","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":494.01849365234375,"y":1503.4246215820312,"wires":[["4c8ea3a3.2c1adc"]]},{"id":"c7350019.1c685","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":490.01871490478516,"y":1688.4248142242432,"wires":[[],[]]},{"id":"29d9ed35.4c1362","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":473.0187301635742,"y":1767.42476272583,"wires":[[],[]]},{"id":"4c8ea3a3.2c1adc","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":730.0187301635742,"y":1505.4249639511108,"wires":[["ba47a147.340e6"],[]]},{"id":"77a2057.b8b0efc","type":"modbus-write","z":"a12209e0.000438","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1220.0188217163086,"y":1572.2247772216797,"wires":[[],[]]},{"id":"4004b7cb.974318","type":"delay","z":"a12209e0.000438","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":908.018798828125,"y":1450.2249755859375,"wires":[["40daafe7.1f1df"]]},{"id":"40daafe7.1f1df","type":"function","z":"a12209e0.000438","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":1023.018798828125,"y":1487.2249755859375,"wires":[["77a2057.b8b0efc"]]},{"id":"ba47a147.340e6","type":"function","z":"a12209e0.000438","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":934.0188140869141,"y":1566.2247285842896,"wires":[["77a2057.b8b0efc","4004b7cb.974318"]]},{"id":"89bde92d.ab6488","type":"function","z":"e4339ded.6c6cd","name":"Reading Wago Inputs","func":"var inputReadings = [0,0,0,0,0,0,0,0];\nvar outputMessage = [msg,msg,msg,msg,msg,msg,msg,msg];\nfor (qtyInputs=0; qtyInputs<8; qtyInputs++){\n    inputReadings[qtyInputs] = msg.payload[qtyInputs];\n    if (inputReadings[qtyInputs]===true){\n        outputMessage[qtyInputs] = {payload:true};\n    } else {\n        outputMessage[qtyInputs] = {payload:false};    \n    }\n}\nreturn outputMessage;","outputs":"8","noerr":0,"x":380,"y":720,"wires":[["fca5a905.1b12d8"],["fd615d55.09d4d"],["24dad54e.6f233a"],["23034985.5d7b36"],["adbd7e6a.ba7a5"],["9dcf9deb.62e29"],["381adef8.6ebc92"],["31df37e3.bf1cd8"]]},{"id":"1ad3bad.afb5245","type":"Analog Input","z":"e4339ded.6c6cd","name":"Pressure Transducer","sensorType":"4-20mA","resolution":"15_Bit_signed","selectedProcess":"Scaled","low":"0","high":"1000","precision":"3","x":400,"y":280,"wires":[["68b31476.1c46cc","9f5395a9.e2d7a8","f06c0a41.a533f8"]]},{"id":"fca5a905.1b12d8","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_00_close","label":"CLOSE","group":"f1b5674b.bd2d78","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Close","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":520,"wires":[["8deb41ed.2f095"]]},{"id":"24dad54e.6f233a","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_02_manual","label":"MANUAL","group":"f1b5674b.bd2d78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":640,"wires":[["566df72c.390698"]]},{"id":"fd615d55.09d4d","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_01_open","label":"OPEN","group":"f1b5674b.bd2d78","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":580,"wires":[["c89d4d9e.ae714"]]},{"id":"23034985.5d7b36","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_03_auto","label":"AUTO","group":"f1b5674b.bd2d78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":700,"wires":[["9623430a.a5d24"]]},{"id":"adbd7e6a.ba7a5","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_04","label":"DI_04_lbl","group":"f1b5674b.bd2d78","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":760,"wires":[[]]},{"id":"381adef8.6ebc92","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_06_Ready","label":"Ready","group":"da1bbeb5.79656","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":880,"wires":[["c05367b.edcf798"]]},{"id":"9dcf9deb.62e29","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_05_HomePosition","label":"In Home Position","group":"f1b5674b.bd2d78","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":820,"wires":[[]]},{"id":"31df37e3.bf1cd8","type":"ui_switch","z":"e4339ded.6c6cd","name":"DI_07_Alarm","label":"Alarm","group":"da1bbeb5.79656","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Digital","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":940,"wires":[["7d496f5e.7d38"]]},{"id":"af917dd2.fcfa2","type":"comment","z":"e4339ded.6c6cd","name":"Analog Input","info":"","x":90,"y":220,"wires":[]},{"id":"32d5ef64.291d5","type":"comment","z":"e4339ded.6c6cd","name":"Digital Inputs","info":"","x":90,"y":560,"wires":[]},{"id":"7f3995ff.c14bcc","type":"comment","z":"e4339ded.6c6cd","name":"Valve Operation","info":"","x":120,"y":1280,"wires":[]},{"id":"b1eca7ed.f18318","type":"modbus-read","z":"e4339ded.6c6cd","name":"Read Digital Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"250","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":620,"wires":[["89bde92d.ab6488"],[]]},{"id":"837d7fa.d05d28","type":"modbus-read","z":"e4339ded.6c6cd","name":"Read Analog Input","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"66859124.60626","x":130,"y":280,"wires":[["1ad3bad.afb5245"],[]]},{"id":"c05367b.edcf798","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-D | B/READY LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"6","quantity":"1","server":"66859124.60626","x":1240,"y":880,"wires":[[],[]]},{"id":"599dc3af.2f9fcc","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-H | B/ALARM LIGHT","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"7","quantity":"1","server":"66859124.60626","x":1240,"y":940,"wires":[[],[]]},{"id":"211cc5d7.eefc5a","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":810,"y":1420,"wires":[["4626382.1b59cc8"],[]]},{"id":"4626382.1b59cc8","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1050,"y":1420,"wires":[["eedd4dd7.5379c"],[]]},{"id":"eedd4dd7.5379c","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1300,"y":1420,"wires":[[],[]]},{"id":"a9d13e83.cb1f2","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1320,"y":1360,"wires":[[],[]]},{"id":"5b125d48.ac13f4","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-C | D/Z-HOME","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","server":"66859124.60626","x":1220,"y":520,"wires":[[],[]]},{"id":"68b31476.1c46cc","type":"ui_gauge","z":"e4339ded.6c6cd","name":"SYSTEM PRESSURE","group":"f1b5674b.bd2d78","order":1,"width":0,"height":0,"gtype":"gage","title":"System Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":320,"wires":[]},{"id":"7d496f5e.7d38","type":"function","z":"e4339ded.6c6cd","name":"Invert","func":"if (msg.payload === true) {\n    msg.payload=false;\n} else {\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":940,"wires":[["599dc3af.2f9fcc"]]},{"id":"f987ea47.996388","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"MANUAL START","order":7,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    MAN STRT\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":1360,"wires":[["223e656c.4f054a"]]},{"id":"81321e15.77823","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"RESET ALARM","order":9,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    RESET ALARM\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":1420,"wires":[["211cc5d7.eefc5a","23a0db1a.4f3074"]]},{"id":"8deb41ed.2f095","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"Close Valve","order":8,"width":"3","height":"1","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CLOSE VALVE\n</md-button>\n<!-- <div ng-bind-html=\"msg.payload\"></div> -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":520,"wires":[["5b125d48.ac13f4"]]},{"id":"c89d4d9e.ae714","type":"link out","z":"e4339ded.6c6cd","name":"ValveOperation","links":["34e7ca7e.e80376"],"x":855,"y":580,"wires":[]},{"id":"34e7ca7e.e80376","type":"link in","z":"e4339ded.6c6cd","name":"Valve","links":["c89d4d9e.ae714"],"x":115,"y":1320,"wires":[["71425604.17be38"]]},{"id":"71425604.17be38","type":"function","z":"e4339ded.6c6cd","name":"Valve Control","func":"var Auto = flow.get ('isAuto');\nvar Manual = flow.get('isManual');\n\nif (Auto===true && msg.payload===true){\n    msg.payload='Auto';\n    return [msg,null,null];\n} else if (Manual===true && msg.payload===true){\n    msg.payload=true;\n    return [null,msg,null];\n} else if (Auto===false && Manual===false && msg.payload===true){\n    msg.payload=false;\n    return [null,null,msg];\n} else {\n    return [null,null,null];\n}","outputs":"3","noerr":0,"x":290,"y":1360,"wires":[["4388afb.e44e55","4b72c672.62ffe8"],["21948ff6.c2693"],["81321e15.77823"]],"outputLabels":["Auto","Manual","Reset Alarm"]},{"id":"fbb6513c.0977f","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-G | D/ALM-RST","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"5","quantity":"1","server":"66859124.60626","x":1330,"y":1480,"wires":[[],[]]},{"id":"6f1d78fd.a42038","type":"comment","z":"e4339ded.6c6cd","name":"Valve Operation","info":"","x":960,"y":580,"wires":[]},{"id":"bd3a0038.c4abb","type":"comment","z":"e4339ded.6c6cd","name":"Auto Operation","info":"","x":300,"y":1160,"wires":[]},{"id":"9f5395a9.e2d7a8","type":"function","z":"e4339ded.6c6cd","name":"Valve Control Logic","func":"// get assign global variables\nvar actualPressure = Number(msg.payload);\nglobal.set('currentPresure', actualPressure);\nvar pressureValues = global.get('pressure') || {'pressure':[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]};\n// eliminate the oldest value of the array\npressureValues.pressure.shift();\n// pushing the newest value on the array\npressureValues.pressure.push(actualPressure);\n// setting back the new value to the array \nglobal.set ('pressure',pressureValues);\n\n// mean calculation\nvar pressureMean1=0;\nvar pressureMean2=0;\nfor (i=0;i<5;i++){\n pressureMean1+=pressureValues.pressure[i];\n pressureMean2+=pressureValues.pressure[i+5];\n}\npressureMean1=pressureMean1/5;\npressureMean2=pressureMean2/5;\nvar bleedRate = Math.round((pressureMean2-pressureMean1) * -60); // PSI per Minutes\n\n//setting the limits\nvar systemTolerance = 0.1; // Adjust to higher if motor is over reacting\nvar primaryRate = global.get('primaryBleedRate') || 1000; \nvar pUCL = primaryRate + (primaryRate * systemTolerance);\nvar pLCL = primaryRate - (primaryRate * systemTolerance);\nvar secondaryRate = global.get('secondaryBleedRate') || 100;\nvar sUCL = secondaryRate + (2 * secondaryRate * systemTolerance);\nvar sLCL = secondaryRate - (2 * secondaryRate * systemTolerance);\n\nvar actionOut='stay';\nvar breakPoint = global.get('bleedBreakPoint') || 1000;\nif (actualPressure>breakPoint) {\n    // Primary Bleed Rate\n    if (bleedRate > pUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < pLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n} else {\n    // Secundary Bleed Rate\n    if (bleedRate > sUCL){\n        actionOut = 'close';\n    } else {\n        if (bleedRate < sLCL) {\n            actionOut = 'open';\n        } else {\n            actionOut = 'stay';\n        }\n    }\n}\n// message out\nmsg.payload={'pressure':[actualPressure,bleedRate,actionOut], 'other':[pressureMean1,pressureMean2,pLCL,pUCL,sLCL,sUCL]};\n\nreturn [msg,msg,msg];","outputs":"3","noerr":0,"x":670,"y":400,"wires":[["652ebaa0.768f54","f3304642.1346b8"],["f416e547.0b8528"],["aab0440c.0c7da8"]]},{"id":"cd1ac88a.f1c4c8","type":"ui_text","z":"e4339ded.6c6cd","group":"da1bbeb5.79656","order":2,"width":0,"height":0,"name":"System Pressure","label":"System Pressure","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":360,"wires":[]},{"id":"7f4da913.0749d8","type":"ui_text","z":"e4339ded.6c6cd","group":"da1bbeb5.79656","order":4,"width":0,"height":0,"name":"Bleed Rate","label":"Bleed Rate","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":400,"wires":[]},{"id":"652ebaa0.768f54","type":"debug","z":"e4339ded.6c6cd","name":"","active":false,"console":"false","complete":"true","x":910,"y":300,"wires":[]},{"id":"7d08243a.6d5c7c","type":"ui_text","z":"e4339ded.6c6cd","group":"da1bbeb5.79656","order":6,"width":0,"height":0,"name":"Action","label":"Action","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":440,"wires":[]},{"id":"9674bd23.eeaf9","type":"inject","z":"e4339ded.6c6cd","name":"Start Variables","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":120,"y":100,"wires":[["e4b42a10.506648","57477845.819c18"]]},{"id":"40af8f4d.d28d6","type":"comment","z":"e4339ded.6c6cd","name":"Initialize Global Variables","info":"","x":130,"y":40,"wires":[]},{"id":"c2a4882c.2e1928","type":"ui_slider","z":"e4339ded.6c6cd","name":"Secondary Bleed Rate","label":"","group":"a11d9528.a79978","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":"25","max":"1000","step":"25","x":680,"y":180,"wires":[["a612c8e8.6f7548"]]},{"id":"260cbf30.efd2","type":"ui_text","z":"e4339ded.6c6cd","group":"a11d9528.a79978","order":5,"width":0,"height":0,"name":"Secondary Bleed Rate lbl","label":"Secondary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1230,"y":180,"wires":[]},{"id":"187963ac.093d0c","type":"ui_slider","z":"e4339ded.6c6cd","name":"Bleed Break Point","label":"","group":"a11d9528.a79978","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"10000","step":"500","x":670,"y":140,"wires":[["9c3493a2.933e9"]]},{"id":"77e5a61c.5cccc8","type":"ui_text","z":"e4339ded.6c6cd","group":"a11d9528.a79978","order":3,"width":0,"height":0,"name":"Bleed Break Point lbl","label":"Bleed Break Point","format":"{{msg.payload}} lbs","layout":"col-center","x":1220,"y":140,"wires":[]},{"id":"d395e67c.f609d8","type":"ui_text","z":"e4339ded.6c6cd","group":"a11d9528.a79978","order":1,"width":0,"height":0,"name":"Primary Bleed Rate lbl","label":"Primary Bleed Rate","format":"{{msg.payload}} lbs/min","layout":"col-center","x":1220,"y":100,"wires":[]},{"id":"c4db3112.1c42f","type":"ui_slider","z":"e4339ded.6c6cd","name":"Primary Bleed Rate","label":"","group":"a11d9528.a79978","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"250","max":"10000","step":"250","x":670,"y":100,"wires":[["31ac5caa.cbdb04"]]},{"id":"4c03ccbc.93b804","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"AUTO-OPEN","order":3,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    OPEN\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":960,"wires":[[]]},{"id":"30d37bae.52e324","type":"ui_template","z":"e4339ded.6c6cd","group":"30e12ee8.1044d2","name":"AUTO-CANCEL","order":4,"width":"0","height":"0","format":"<script>\n    this.scope.mdown = function() { return true; }\n    this.scope.mup = function() { return false; }\n</script>\n<md-button \n    ng-mousedown=\"send({payload:mdown()})\"\n    ng-mouseup=\"send({payload:mup()})\"\n    >\n    CANCEL\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":1040,"wires":[[]]},{"id":"4388afb.e44e55","type":"function","z":"e4339ded.6c6cd","name":"Act on Auto Mode","func":"var action = global.get ('action') || 'stay';\nmsg.payload = true;\nif (action === 'close') {\n    return [msg,null];\n} else if (action==='open') {\n    return[null,msg];\n} else {\n    return [null,null];\n}","outputs":"2","noerr":0,"x":310,"y":1200,"wires":[["a111968f.bd41d8","79f04a9f.0ad2e4"],["ce52e719.01fb38"]]},{"id":"a111968f.bd41d8","type":"debug","z":"e4339ded.6c6cd","name":"","active":true,"console":"false","complete":"false","x":570,"y":1120,"wires":[]},{"id":"da75336a.85d18","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":810,"y":1300,"wires":[["2f5fd894.46f508"],[]]},{"id":"2f5fd894.46f508","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-F | D/M2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"3","quantity":"1","server":"66859124.60626","x":1040,"y":1300,"wires":[[],[]]},{"id":"13f50685.37cd09","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-E | D/M0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"1","quantity":"1","server":"66859124.60626","x":810,"y":1200,"wires":[["f02ebdbf.c60e2"],[]]},{"id":"1dea7971.492327","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-A | D/START","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"66859124.60626","x":1340,"y":1200,"wires":[[],[]]},{"id":"223e656c.4f054a","type":"modbus-write","z":"e4339ded.6c6cd","name":"W/OUT-B | D/M1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"2","quantity":"1","server":"66859124.60626","x":1050,"y":1360,"wires":[["a9d13e83.cb1f2"],[]]},{"id":"21948ff6.c2693","type":"trigger","z":"e4339ded.6c6cd","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":570,"y":1360,"wires":[["f987ea47.996388"]]},{"id":"23a0db1a.4f3074","type":"trigger","z":"e4339ded.6c6cd","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":790,"y":1480,"wires":[["fbb6513c.0977f"]]},{"id":"f02ebdbf.c60e2","type":"trigger","z":"e4339ded.6c6cd","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"25","extend":false,"units":"ms","reset":"","name":"","x":1030,"y":1200,"wires":[["1dea7971.492327"]]},{"id":"31ac5caa.cbdb04","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"primaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":100,"wires":[["d395e67c.f609d8"]]},{"id":"9c3493a2.933e9","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"bleedBreakPoint","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[["77e5a61c.5cccc8"]]},{"id":"a612c8e8.6f7548","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"secondaryBleedRate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["260cbf30.efd2"]]},{"id":"e4b42a10.506648","type":"change","z":"e4339ded.6c6cd","name":"Set primaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"primaryBleedRate","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["c4db3112.1c42f"]]},{"id":"57477845.819c18","type":"change","z":"e4339ded.6c6cd","name":"Set bleedBreakPoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"bleedBreakPoint","pt":"global","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["187963ac.093d0c"]]},{"id":"7ddf1e1.08a7fe","type":"change","z":"e4339ded.6c6cd","name":"Set secondaryBleedRate","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"str"},{"t":"set","p":"secondaryBleedRate","pt":"global","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["c2a4882c.2e1928"]]},{"id":"f06c0a41.a533f8","type":"change","z":"e4339ded.6c6cd","name":"Set systemPressure","rules":[{"t":"set","p":"systemPressure","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[[]]},{"id":"4b72c672.62ffe8","type":"change","z":"e4339ded.6c6cd","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1300,"wires":[["da75336a.85d18"]]},{"id":"566df72c.390698","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"isManual","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":640,"wires":[[]]},{"id":"9623430a.a5d24","type":"change","z":"e4339ded.6c6cd","name":"","rules":[{"t":"set","p":"isAuto","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[[]]},{"id":"79f04a9f.0ad2e4","type":"change","z":"e4339ded.6c6cd","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1180,"wires":[["13f50685.37cd09"]]},{"id":"ce52e719.01fb38","type":"change","z":"e4339ded.6c6cd","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1220,"wires":[["13f50685.37cd09"]]},{"id":"f3304642.1346b8","type":"change","z":"e4339ded.6c6cd","name":"System Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["cd1ac88a.f1c4c8"]]},{"id":"f416e547.0b8528","type":"change","z":"e4339ded.6c6cd","name":"Bleed Rate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["7f4da913.0749d8"]]},{"id":"aab0440c.0c7da8","type":"change","z":"e4339ded.6c6cd","name":"Action","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":440,"wires":[["7d08243a.6d5c7c"]]}]
